{% extends "comps_update_templates/base.html" %}

{% block title %}Agregar reactivo{% endblock %}

{% block content %}
    {% if messages %}
        {% for message in messages %}
            {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
                <div class="alert alert-danger alert-dismissible fade in" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                            aria-hidden="true"><i class="glyphicon glyphicon-remove"></i></span></button>
                    <span style="color: white"><i class="glyphicon glyphicon-alert"></i>
                         {% if message.extra_tags %}<strong>{{ message.extra_tags }}</strong>{% endif %}
                        {{ message }}</span>
                </div>
            {% endif %}
        {% endfor %}
    {% endif %}
    <div class="col-md-12">
        <h2 class="h2 text-center">Agregue un nuevo reactivo</h2>
        <form method="post">
            {% csrf_token %}
            <div class="row">
                <div class="col-md-4 col-md-offset-2">
                    <div>
                        <label for="{{ form_reactivo.nombre_frasco.id_for_label }}">Nombre del frasco:</label>
                        {{ form_reactivo.nombre_frasco }}
                    </div>
                </div>
                <div class="col-md-4">
                    <div>
                        <label for="{{ form_reactivo.nombre.id_for_label }}">Nombre del reactivo:</label>
                        {{ form_reactivo.nombre }}
                    </div>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-md-4 col-md-offset-2">
                    <div>
                        <label for="{{ form_reactivo.r_reglas.id_for_label }}">R reglas:</label>
                        {{ form_reactivo.r_reglas }}
                    </div>
                </div>
                <div class="col-md-4">
                    <div>
                        <label for="{{ form_reactivo.s_reglas.id_for_label }}">S reglas:</label>
                        {{ form_reactivo.s_reglas }}
                    </div>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-md-4 col-md-offset-2">
                    <div>
                        <label class="label" for="{{ form_reactivo.n_cas.id_for_label }}">CAS:</label>
                        {{ form_reactivo.n_cas }}
                    </div>
                </div>
                <div class="col-md-4">
                    <div>
                        <label for="{{ form_reactivo.n_nu.id_for_label }}">NU:</label>
                        {{ form_reactivo.n_nu }}
                    </div>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-md-4 col-md-offset-2">
                    <div>
                        <label for="{{ form_reactivo.n_icsc.id_for_label }}">ICSC:</label>
                        {{ form_reactivo.n_icsc }}
                    </div>
                </div>
                <div class="col-md-4">
                    <div>
                        <label for="{{ form_reactivo.n_rtecs.id_for_label }}">RTECS:</label>
                        {{ form_reactivo.n_rtecs }}
                    </div>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-md-4 col-md-offset-2">
                    <div>
                        <label for="{{ form_reactivo.n_ce.id_for_label }}">CE:</label>
                        {{ form_reactivo.n_ce }}
                    </div>
                </div>
                <div class="col-md-4">
                    <div>
                        <label for="{{ form_reactivo.n_einecs.id_for_label }}">EINECS:</label>
                        {{ form_reactivo.n_einecs }}
                    </div>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-md-4 col-md-offset-2">
                    <div>
                        <label for="{{ form_reactivo.peso_molecular.id_for_label }}">Peso molecular:</label>
                        {{ form_reactivo.peso_molecular }}
                    </div>
                </div>
                <div class="col-md-4">
                    <div>
                        <label for="{{ form_reactivo.observaciones.id_for_label }}">Observaciones:</label>
                        {{ form_reactivo.observaciones }}
                    </div>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-md-6 col-md-offset-3">
                    <label>{{ form_reactivo.propiedades.label_tag }}</label>
                    {{ form_reactivo.propiedades }}
                </div>

            </div>

            <button class="btn btn-primary">Agregar</button>

        </form>
    </div>
{% endblock %}