<!DOCTYPE html>
<html lang="es" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
<head>
    <meta name="charcter" charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, shrink-to-fit=no">

    <title>{% block title %}{% endblock %}</title>
    {% load extra_filters %}
    {% load staticfiles %}
    <link rel="icon" type="image/png" href="{% static "images/icons/icon.png" %}"/>

    <link rel="stylesheet" href="{% static "icons_fonts/fonts/personal_roboto.css" %}">
    <link rel="stylesheet" href="{% static "icons_fonts/icons/flaticons/flaticon.css" %}">
    <link rel="stylesheet" href="{% static "icons_fonts/icons/cbq-icons/styles.css" %}">
    {% comment %}<link rel="stylesheet" href="{% static "icons_fonts/fonts/material-design-iconic-font.min.css" %}">{% endcomment %}

    <link rel="stylesheet" href="{% static "bootstrap3.3.7/css/bootstrap.min.css" %}">

    {% comment %}<link rel="stylesheet" href="{% static "mdb/mdb.css" %}">{% endcomment %}

    <link rel="stylesheet" href="{% static "bootstrap_slate/bootstrap.min.css" %}">

    <link rel="stylesheet" href="{% static "custom_css/custom.css" %}">

    <script src="{% static "mdb/jquery-2.js" %}"></script>
    <script src="{% static "customs_js/modals.js" %}"></script>

    <script src="{% static "bootstrap3.3.7/js/jquery.form.min.js" %}"></script>
    <script src="{% static "bootstrap3.3.7/js/bootstrap.min.js" %}"></script>
    <script src="{% static "bootstrap3.3.7/js/npm.js" %}"></script>


</head>
<body>
{% block body %}
    <!--Navbar-->

    <div class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <a href="" class="navbar-brand">Reactivos CBQ</a>
            </div>
            <div class="navbar-collapse collapse" id="navbar-main">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="{% if not user.is_staff %}
                                    {% url "listado_reactivos" user.user_info.local|get_local_id %}
                                 {% else %}
                                    {% url "listado_reactivos" 0 %}
                                 {% endif %}"><i
                                class="glyphicon glyphicon-list"></i> Lista
                            reactivos</a>
                    </li>
                    {% if user.is_staff %}
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#" id="themes"
                               aria-expanded="false"><i
                                    class="glyphicon glyphicon-sort-by-attributes-alt"></i> Por locales <span
                                    class="caret"></span></a>
                            <ul class="dropdown-menu" aria-labelledby="themes">
                                <li><a href="{% url "listado_reactivos" id=0 %}">Todos</a></li>
                                {% if lista_locales %}
                                    <li class="divider"></li>
                                    {% for local in lista_locales %}
                                        <li><a href="{% url "listado_reactivos" id=local.id %}">{{ local.nombre }}</a>
                                        </li>
                                    {% endfor %}
                                {% endif %}
                            </ul>
                        </li>
                    {% endif %}
                    <li>
                        <a href="{% url "add_reactivo" %}"><i class="glyphicon glyphicon-plus-sign"></i> Agregar
                            reactivo</a>
                    </li>

                </ul>

                {% block nav_search %}
                    <form class="navbar-form navbar-left" role="" method="GET">
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Reactivo" name="termino_busqueda">
                            {# {{ search_form.termino_busqueda }} #}
                        </div>
                        <button type="submit" class="btn btn-default"><i
                                class="glyphicon glyphicon-search"></i> Buscar
                        </button>
                    </form>
                {% endblock %}

                <ul class="nav navbar-nav navbar-right">
                    <li><a href="{% url "logout" %}" target=""><i class="glyphicon glyphicon-log-out"></i> Cerrar
                        sesion:
                        <small>{{ user.username }}</small>
                    </a></li>

                </ul>

            </div>
        </div>
    </div>
    </div>

    <!--/.Navbar-->

    <!-- main columns -->

    <main class="p-t-6" style="padding-top: 5%; margin-bottom: 170px;">
        <div class="container-fluid text-xs-center">
            {% block content %}{% endblock %}
        </div>
    </main>

    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-xs-4 col-xs-offset-3">
                    <h5 class="">CONTACTOS</h5>
                    <table style="background-color: transparent">
                        <tbody>
                        <tr>
                            <th><span>Carlos: </span></th>
                            <td class="text-center"><a href="mailto:cdfigueredo@uclv.edu.cu">cdfigueredo@uclv.edu.cu</a>
                            </td>
                        </tr>
                        <tr>
                            <th><span>Eduardo: </span></th>
                            <td class="text-center"><a href="mailto:emiguel@uclv.edu.cu">emiguel@uclv.edu.cu</a></td>
                        </tr>
                        <tr>
                            <th><span>Belkis: </span></th>
                            <td class="text-center"><a href="mailto:belkismv@uclv.edu.cu">belkismv@uclv.edu.cu</a></td>
                        </tr>
                        <tr>
                            <th><span>Reinaldo: </span></th>
                            <td class="text-center"><a href="mailto:reymolina@uclv.edu.cu">reymolina@uclv.edu.cu</a>
                            </td>
                        </tr>
                        <tr>
                            <th><span>Evys: </span></th>
                            <td class="text-center"><a href="mailto:eancedeg@uclv.edu.cu">eancedeg@uclv.edu.cu</a></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-xs-4">
                    <h5>ENLACES DE INTERES</h5>

                    <a class="text-center" href="http://www.cdc.gov/niosh/ipcs/default.html">CDC (para obtener los datos de compuestos)</a>
                </div>
            </div>
            <hr>
            <div class="row text-center cite" style="margin-bottom: 15px;">
                <cite>Todo buen cubano debe saber quimica y computacion. Jose Marti</cite>
            </div>
        </div>
    </footer>

{% endblock %}



{% comment %}<script src="{% static "mdb/mdb.js" %}"></script>
<script src="{% static "mdb/tether.js" %}"></script>{% endcomment %}

<script src="{% static "customs_js/sinonimos_inline.js" %}"></script>
<script src="{% static "customs_js/existencia_inlines.js" %}"></script>

<script type="text/javascript">
    $(document).ready(function () {
        $('[data-toggle="popover"]').popover();
    });
</script>
</body>
</html>