{% extends "comps_update_templates/base.html" %}
{% load staticfiles %}
{% load extra_filters %}

{% block title %}Actualizar reactivos{% endblock %}
{% block nav_lista_act %}active{% endblock %}

{% block content %}
    {% if messages %}
        {% for message in messages %}
            {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
                <div class="alert alert-success alert-dismissible fade in" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                            aria-hidden="true"><i class="glyphicon glyphicon-remove"></i></span></button>
                    <span style="color: black"><i class="glyphicon glyphicon-ok"></i> {{ message|safe }}</span>
                </div>
            {% endif %}
            {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
                <div class="alert alert-danger alert-dismissible fade in" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                            aria-hidden="true"><i class="glyphicon glyphicon-remove"></i></span></button>
                    <span style="color: white"><i class="glyphicon glyphicon-alert"></i>
                        {% if message.extra_tags %}<strong>{{ message.extra_tags }}</strong>{% endif %}
                        {{ message }}</span>
                </div>
            {% endif %}
        {% endfor %}
    {% endif %}

    <!-- Modal eliminar reactivos-->
    <div class="modal fade" id="delReactivoModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true"><i class="glyphicon glyphicon-remove"></i></span></button>
                    <h3 class="modal-title" id="myModalLabel">Eliminar reactivo<span id="header_modal_init"></span></h3>
                </div>
                <div class="modal-body">
                    <p>¿Realmente deseas eliminar el reactivo<span id="pregunta_modal"></span> <span
                            id="modal_name_reactivo"
                            style="color: rgba(87, 255, 82, 0.81)"></span>?
                    </p>
                </div>
                <div class="modal-footer">
                    <form method="post" id="form_del_reactivo">
                        {% csrf_token %}
                        <input type="hidden" id="modal_reactivo_nombre" name="nombre_reactivo">
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
                        <button type="submit" class="btn btn-success"><span class="glyphicon glyphicon-trash"></span>
                            Eliminar
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal informacion de update reactivos y existencias-->
    <div class="modal fade" id="infoReactivoModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true"><i class="glyphicon glyphicon-remove"></i></span></button>
                    <h3 class="modal-title" id="modalInfoTitleLabel"><span id="header_modal_init"></span></h3>
                </div>
                <div class="modal-body">
                    <p id="textBodyInfoModal">
                    </p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-success" data-dismiss="modal" id="buttonAceptarInfoModal">
                        Aceptar
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <h2 class="h2 text-center">Listado de reactivos en <span
                    style="color: rgba(87, 255, 82, 0.81)">{{ nombre_local }}</span></h2>
            {% if termino_busqueda %}
                {% ifnotequal termino_busqueda "None" %}
                    <h4 class="h4 text-center">Resultados para la busqueda <span
                            style="color: rgba(87, 255, 82, 0.81)">"{{ termino_busqueda|escape|escapejs }}"</span></h4>
                {% endifnotequal %}
            {% endif %}
            {% if user.is_staff %}
                {% ifequal count_queryset cantidad_cas %}
                    <h4 class="h4 text-center" style="color: rgba(87, 255, 82, 0.81)">De {{ count_queryset }} reactivos
                        se han introducidos {{ cantidad_cas }} CAS.</h4>
                {% else %}
                    <h4 class="h4 text-center" style="color: red">De {{ count_queryset }} reactivos se han
                        introducidos {{ cantidad_cas }} CAS.</h4>
                {% endifequal %}
            {% endif %}
            <hr>
            <div class="col-xs-12">
                <div class="row cell-header text-center">
                    <div class="col-xs-1"><b>Completado</b></div>
                    <div class="col-xs-2 text-left"><b>Nombre de la etiqueta del frasco</b></div>
                    <div class="col-xs-2"><b>CAS </b>
                    </div>
                    <div class="col-xs-2"><b>NU </b>
                    </div>
                    {% if not user.is_staff %}
                        <div class="col-xs-2"><b>CE</b></div>
                    {% else %}
                        {% ifequal local_id 0 %}
                            <div class="col-xs-2"><b>Local</b></div>
                        {% else %}
                            <div class="col-xs-2"><b>CE</b></div>
                        {% endifequal %}
                    {% endif %}
                </div>
            </div>
            <div class="col-xs-12 text-center">
                <div class="panel-group" id="accordion">
                    {% if lista_reactivos %}
                        <!--panel-->
                        {% comment %}<form name="datos_reactivos_{{ reactivo.id }}" method="post">
                            {% csrf_token %}{% endcomment %}

                        {% for reactivo in lista_reactivos %}
                            <div id="panel_{{ reactivo.id }}" class="panel panel-default">
                                <!--Panel heading-->
                                <div class="panel-heading">
                                    <h6 class="panel-title">
                                        <div class="row">
                                            {% if list_empty_fields %}
                                                {% if list_empty_fields|get_i_item:forloop.counter0 %}
                                                    <div class="col-xs-1" tabindex="0" role="button"
                                                         data-toggle="popover"
                                                         data-trigger="focus"
                                                         title="Datos incompletos"
                                                         data-content="Falta(n)
                                                            {% for field in list_empty_fields|get_i_item:forloop.counter0 %}
                                                                {% if not forloop.last %}
                                                                    {{ field }},
                                                                {% else %}
                                                                    y {{ field }}.
                                                                {% endif %}
                                                            {% endfor %}
                                                            ">
                                                        <img width="36" height="36"
                                                             src="{% static "images/icons/incompleto.png" %}">
                                                    </div>
                                                {% else %}
                                                    <div class="col-xs-1" tabindex="0" role="button"
                                                         data-toggle="popover"
                                                         data-trigger="focus"
                                                         data-content="Completado">
                                                        <img width="36" height="36"
                                                             src="{% static "images/icons/completo.png" %}">
                                                    </div>
                                                {% endif %}
                                            {% else %}
                                                <div class="col-xs-1" tabindex="0" role="button" data-toggle="popover"
                                                     data-trigger="focus"
                                                     data-content="Completado">
                                                    <img width="36" height="36"
                                                         src="{% static "images/icons/completo.png" %}">
                                                </div>
                                            {% endif %}
                                            <div class="col-xs-2 offset-xs-1 text-left">
                                                {{ reactivo.nombre_frasco|lower|capfirst }}</div>
                                            <div class="col-xs-2 text-xs-center">
                                                {% if reactivo.n_cas and not reactivo.n_cas|is_equal_with:"0-0-0" %}
                                                    {{ reactivo.n_cas }}{% else %}
                                                    <img width="25" height="25"
                                                         src="{% static "images/icons/empty.png" %}"> {% endif %}
                                            </div>
                                            <div class="col-xs-2">
                                                {% if reactivo.n_nu %}
                                                    {{ reactivo.n_nu }}{% else %}
                                                    <img width="25" height="25"
                                                         src="{% static "images/icons/empty.png" %}"> {% endif %}
                                            </div>
                                            <div class="col-xs-2 text-xs-center">
                                                {% if not user.is_staff %}
                                                    {% if reactivo.n_ce %}{{ reactivo.n_ce }}{% else %}
                                                        <img width="25" height="25"
                                                             src="{% static "images/icons/empty.png" %}">
                                                    {% endif %}
                                                {% else %}
                                                    {% ifequal local_id 0 %}
                                                        {{ reactivo.local }}
                                                    {% else %}
                                                        {% if reactivo.n_ce %}{{ reactivo.n_ce }}{% else %}
                                                            <img width="25" height="25"
                                                                 src="{% static "images/icons/empty.png" %}">
                                                        {% endif %}
                                                    {% endifequal %}
                                                {% endif %}
                                            </div>
                                            <div class="col-xs-3 text-xs-center">
                                                <div class="btn-group ">
                                                    <a class="btn btn-default" data-toggle="collapse"
                                                       data-parent="#accordion"
                                                       href="#collapse_{{ reactivo.id }}">
                                                        <i class="glyphicon glyphicon-edit"></i> Editar
                                                        {# <i class="cbqicon-angle-right rotate-icon"></i>#}
                                                    </a>
                                                    <button type="button" data-toggle="modal" id="{{ reactivo.id }}"
                                                            data-id="{{ reactivo.id }}"
                                                            data-name="{{ reactivo.nombre_frasco|lower|capfirst }}"
                                                            class="btn btn-danger deleteReactivo"
                                                            data-target="#delReactivoModal"><i
                                                            class="glyphicon glyphicon-trash"></i> Eliminar
                                                    </button>
                                                </div>

                                            </div>
                                        </div>
                                    </h6>
                                </div>

                                <!--Panel body-->
                                <div id="collapse_{{ reactivo.id }}" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        <div class="panel-group" id="accordion-datos-{{ reactivo.id }}">
                                            <div class="panel panel-default">
                                                <div class="panel-heading">
                                                    <div class="panel-title text-center">
                                                        <button class="btn btn-default" data-toggle="collapse"
                                                                data-parent="#accordion-datos-{{ reactivo.id }}"
                                                                href="#collapse_datos_{{ reactivo.id }}">
                                                            <i class="cbqicon-database-1"></i> Datos Generales
                                                        </button>
                                                    </div>
                                                </div>
                                                <div id="collapse_datos_{{ reactivo.id }}"
                                                     class="panel-collapse collapse">
                                                    <div class="panel-body">
                                                        <div class="container text-center">
                                                            <div class="col-xs-12">
                                                                <h2 class="h2 text-center"></h2>
                                                                <form method="post" class="form_datos_reactivo">
                                                                    {% csrf_token %}
                                                                    {{ formset_reactivos.management_form }}
                                                                    {% for field in formset_reactivos|get_i_item:forloop.counter0 %}
                                                                        {% if not forloop.last %}
                                                                            {% if forloop.counter|divisibleby:"2" %}
                                                                                {% if forloop.counter|is_li_than:"4" %}
                                                                                    <div class="row">
                                                                                        <div class="col-xs-4 col-xs-offset-2">
                                                                                            <div class="fieldWrapper">
                                                                                                {{ field.errors }}
                                                                                                <h4 id="id_nombre_frasco"><span
                                                                                                        class="label {% if not field.value %}label-danger{% endif %}">{{ field.label_tag }}</span>
                                                                                                </h4>
                                                                                                {{ field }}
                                                                                                {% if field.help_text %}
                                                                                                    <p class="help">{{ field.help_text|safe }}</p>
                                                                                                {% endif %}
                                                                                            </div>
                                                                                        </div>
                                                                                        {% else %}
                                                                                        <div class="col-xs-4">
                                                                                            <div class="fieldWrapper">
                                                                                                {{ field.errors }}
                                                                                                <h4 id="id_nombre_frasco"><span
                                                                                                        class="label {% if not field.value %}label-danger{% endif %}">{{ field.label_tag }}</span>
                                                                                                </h4>
                                                                                                {{ field }}
                                                                                                {% if field.help_text %}
                                                                                                    <p class="help">{{ field.help_text|safe }}</p>
                                                                                                {% endif %}
                                                                                            </div>
                                                                                        </div>
                                                                                    </div>
                                                                                {% endif %}
                                                                            {% else %}
                                                                                {% ifequal forloop.counter 3 %}
                                                                                    <hr>
                                                                                    <div class="row">
                                                                                        <div class="col-xs-8 col-xs-offset-2">
                                                                                            <div id="formset_list_{{ reactivo.id }}">
                                                                                                {{ list_sinonimos_formset|get_i_item:forloop.parentloop.counter0|get_management_form }}
                                                                                                <div id="forms_sin_list_{{ reactivo.id }}">
                                                                                                    {% for form in list_sinonimos_formset|get_i_item:forloop.parentloop.counter0 %}
                                                                                                        <div class="row"
                                                                                                             id="label_sin_{{ forloop.counter0 }}">
                                                                                                            <h4 id="id_nombre_frasco"><span
                                                                                                                    class="label">Sinonimo #{{ forloop.counter }}</span>
                                                                                                            </h4>
                                                                                                        </div>
                                                                                                        <div class="row"
                                                                                                             id="input_sin_{{ forloop.counter0 }}">
                                                                                                            {{ form.id }}
                                                                                                            <div class="col-xs-10">{{ form.sinonimo }}</div>
                                                                                                            <div class="col-xs-2">
                                                                                                                <i class="glyphicon glyphicon-trash"></i>
                                                                                                                Eliminar: {{ form.DELETE }}
                                                                                                            </div>
                                                                                                        </div>
                                                                                                    {% endfor %}
                                                                                                </div>

                                                                                            </div>
                                                                                            <br>
                                                                                            <button type="button"
                                                                                                    class="btn btn-default add_more_list"
                                                                                                    data-id="{{ reactivo.id }}">
                                                                                                <i class="glyphicon glyphicon-plus-sign"></i>
                                                                                                Agregar otro
                                                                                                sinonimo
                                                                                            </button>
                                                                                            <script>

                                                                                            </script>
                                                                                        </div>
                                                                                    </div>
                                                                                    <hr>
                                                                                    <div class="row">
                                                                                        <div class="col-xs-4 col-xs-offset-4">
                                                                                            <div class="fieldWrapper">
                                                                                                {{ field.errors }}
                                                                                                <h4 id="id_nombre_frasco"><span
                                                                                                        class="label {% if not field.value %}label-danger{% endif %}">{{ field.label_tag }}</span>
                                                                                                </h4>
                                                                                                {{ field }}
                                                                                                {% if field.help_text %}
                                                                                                    <p class="help">{{ field.help_text|safe }}</p>
                                                                                                {% endif %}
                                                                                            </div>
                                                                                        </div>
                                                                                    </div>
                                                                                    <br>
                                                                                {% else %}
                                                                                    {% if forloop.counter|is_lg_than:"3" %}
                                                                                        <div class="col-xs-4">
                                                                                            <div class="fieldWrapper">
                                                                                                {{ field.errors }}
                                                                                                <h4 id="id_nombre_frasco"><span
                                                                                                        class="label {% if not field.value %}label-danger{% endif %}">{{ field.label_tag }}</span>
                                                                                                </h4>
                                                                                                {{ field }}
                                                                                                {% if field.help_text %}
                                                                                                    <p class="help">{{ field.help_text|safe }}</p>
                                                                                                {% endif %}
                                                                                            </div>
                                                                                        </div>
                                                                                        </div>
                                                                                    {% else %}
                                                                                        <div class="row">
                                                                                        <div class="col-xs-4 col-xs-offset-2">
                                                                                            <div class="fieldWrapper">
                                                                                                {{ field.errors }}
                                                                                                <h4 id="id_nombre_frasco"><span
                                                                                                        class="label {% if not field.value %}label-danger{% endif %}">{{ field.label_tag }}</span>
                                                                                                </h4>
                                                                                                {{ field }}
                                                                                                {% if field.help_text %}
                                                                                                    <p class="help">{{ field.help_text|safe }}</p>
                                                                                                {% endif %}
                                                                                            </div>
                                                                                        </div>
                                                                                    {% endif %}
                                                                                {% endifequal %}
                                                                            {% endif %}
                                                                        {% else %}

                                                                            <div class="row text-left">
                                                                                <div class="col-xs-6 col-xs-offset-3">
                                                                                    <h2 class="h2 text-center">
                                                                                        Propiedades</h2>
                                                                                   {% comment %} <div class="btn-group"
                                                                                         data-toggle="buttons">
                                                                                        {{ field.data }}
                                                                                        {% for choice in field.field.choices %}

                                                                                            <label for="" class="btn btn-primary {% ifequal field.data choice.0 %}
                                                                                                       active
                                                                                            {% endifequal %}">
                                                                                            <input type="checkbox" autocomplete="off"
                                                                                                   value="{{ choice.0 }}"
                                                                                                    {% ifequal field.data choice.0 %}
                                                                                                   checked
                                                                                                    {% endifequal %}>
                                                                                            {{ choice.1 }}
                                                                                            </label>
                                                                                        {% endfor %}
                                                                                    </div>{% endcomment %}
                                                                                   {{ field }}
                                                                                </div>
                                                                            </div>
                                                                        {% endif %}
                                                                    {% endfor %}
                                                                    <input class="hidden" value="{{ reactivo.id }}"
                                                                           name="reactivo_current_post_id">
                                                                    <input class="hidden" value="{{ parent }}"
                                                                           name="current_form_input">
                                                                    <button class="btn btn-default"
                                                                            name="guardar-datos-reactivo"><i
                                                                            class="glyphicon glyphicon-save"></i>
                                                                        Guardar
                                                                    </button>
                                                                    </form>
                                                                    </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="panel panel-default">
                                                <div class="panel-heading">
                                                    <h2 class="panel-title text-center">
                                                        <button
                                                                class="btn btn-default"
                                                                data-toggle="collapse"
                                                                data-parent="#accordion-datos-{{ reactivo.id }}"
                                                                href="#collapse_existencias_{{ reactivo.id }}"
                                                                style="width: 160px">
                                                            <i class="cbqicon-productos"></i> Existencias
                                                            ({{ list_cantidades_existencia|get_i_item:forloop.counter0 }})
                                                        </button>
                                                    </h2>
                                                </div>
                                                <div id="collapse_existencias_{{ reactivo.id }}"
                                                     class="panel-collapse collapse">
                                                    <div class="panel-body">
                                                        <form method="post" class="form_existencias">
                                                            {% csrf_token %}
                                                            <div class="row">
                                                                <div class="col-xs-12">
                                                                    <div id="formset_existencia_{{ reactivo.id }}">
                                                                        {{ list_existencia_formset|get_i_item:forloop.counter0|get_management_form }}
                                                                        <div id="forms_existencia_list_{{ reactivo.id }}">
                                                                            {% for form in list_existencia_formset|get_i_item:forloop.counter0 %}
                                                                                <div class="panel panel-default"
                                                                                     id="panel-existencia-{{ forloop.counter0 }}">
                                                                                    <div class="panel-heading">
                                                                                        <div class="row">
                                                                                            <div class="col-xs-10 text-left">
                                                                                                <h4 id=""><span
                                                                                                        class="label">Existencia #{{ forloop.counter }}</span>
                                                                                                </h4>
                                                                                            </div>
                                                                                            <div class="col-xs-2 pull-right">
                                                                                                <i class="glyphicon glyphicon-trash"></i>
                                                                                                Eliminar: {{ form.DELETE }}
                                                                                            </div>
                                                                                        </div>
                                                                                    </div>
                                                                                    <div class="panel-body">
                                                                                        <div class="row"
                                                                                             id="input_existencia_{{ forloop.counter0 }}">
                                                                                            {{ form.id }}
                                                                                            <table class="table">
                                                                                                <thead>
                                                                                                <th>Cantidad</th>
                                                                                                <th>Capacidad</th>
                                                                                                <th>Unidad de Medida
                                                                                                </th>
                                                                                                <th>Tipo de envase</th>
                                                                                                <th>Material del
                                                                                                    envase
                                                                                                </th>
                                                                                                <th>¿Es idoneo el
                                                                                                    almacenamiento?
                                                                                                </th>
                                                                                                <th>Firma</th>
                                                                                                </thead>
                                                                                                <tbody>
                                                                                                <tr>
                                                                                                    <td>{{ form.cantidad }}</td>
                                                                                                    <td>{{ form.capacidad }}</td>
                                                                                                    <td>{{ form.unidad_medida }}</td>
                                                                                                    <td>{{ form.tipo_envase }}</td>
                                                                                                    <td>{{ form.material_envase }}</td>
                                                                                                    <td>{{ form.almacenamiento_idoneo }}</td>
                                                                                                    <td>{{ form.firma }}</td>
                                                                                                </tr>
                                                                                                </tbody>
                                                                                            </table>

                                                                                        </div>
                                                                                    </div>
                                                                                </div>

                                                                            {% endfor %}
                                                                        </div>
                                                                        <br>
                                                                        <input class="hidden" value="{{ reactivo.id }}"
                                                                               name="reactivo_existencia_post">
                                                                        <button type="button"
                                                                                class="btn btn-default add_existencia_list"
                                                                                data-id="{{ reactivo.id }}">
                                                                            <i class="glyphicon glyphicon-plus-sign"></i>
                                                                            Agregar existencia
                                                                        </button>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <br>
                                                            <button class="btn btn-default"
                                                                    name="guardar-existencias-reactivo"><i
                                                                    class="glyphicon glyphicon-save"></i>
                                                                Guardar
                                                            </button>
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                        {% comment %}</form>{% endcomment %}
                        <!--/.panel-->
                    {% else %}
                        <h4>No existen resultados para la consulta <span
                                style="color: rgba(87, 255, 82, 0.81)">"{{ termino_busqueda|escape|escapejs }}"</span>
                        </h4>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-6 col-xs-offset-4">
            {% if page_obj.has_other_pages %}
                <ul class="pagination">
                    {% if page_obj.has_previous %}
                        <li><a href="?termino_busqueda={{ termino_busqueda }}&page={{ page_obj.previous_page_number }}"><i
                                class="glyphicon glyphicon-chevron-left"></i></a></li>
                    {% else %}
                        <li class="disabled"><span class="glyphicon glyphicon-chevron-left"></span></li>
                    {% endif %}
                    {% if not page_obj.number == 1 %}
                        <li><a href="?termino_busqueda={{ termino_busqueda }}&page={{ 1 }}">{{ 1 }}</a></li>
                        {% if not page_obj.number == 2 %}
                            <li class="disabled"><span>...</span></li>
                        {% endif %}
                    {% endif %}

                    {% for i in page_obj.paginator.page_range %}
                        {% if i <= page_obj.number|add:"5" and i >= page_obj.number %}
                            {% if page_obj.number == i %}
                                <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
                            {% else %}
                                <li><a href="?termino_busqueda={{ termino_busqueda }}&page={{ i }}">{{ i }}</a></li>
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                    {% if not page_obj.number == page_obj.paginator.page_range|length and page_obj.number < page_obj.paginator.page_range|length|add:"-5" %}
                        {% if not page_obj.number == page_obj.paginator.page_range|length|add:"-1" %}
                            <li class="disabled"><span>...</span></li>
                            <li>
                                <a href="?termino_busqueda={{ termino_busqueda }}&page={{ page_obj.paginator.page_range|length }}">{{ page_obj.paginator.page_range|length }}</a>
                            </li>

                        {% endif %}
                    {% endif %}
                    {% if page_obj.has_next %}
                        <li><a href="?termino_busqueda={{ termino_busqueda }}&page={{ page_obj.next_page_number }}"><i
                                class="glyphicon glyphicon-chevron-right"></i></a></li>
                    {% else %}
                        <li class="disabled"><span class="glyphicon glyphicon-chevron-right"></span></li>
                    {% endif %}
                </ul>
            {% endif %}
        </div>
    </div>
{% endblock %}