{% extends "comps_update_templates/base.html" %}
{% load staticfiles %}

{% block title %}Reactivos/Login{% endblock %}

{% block body %}
    <form class="form-signin center-block form-login" style="width: 20%" method="post">
        {% csrf_token %}
        <h2 class="text-center">Reactivos CBQ</h2>
        <img class="img-login" width="110" height="170" src="{% static "images/icons/reactivo_bottle.png" %}">
        <h4 class="form-signin-heading text-center">Inicie sesion</h4>
        <table>
            {{ form.as_table }}
        </table>
        <button class="btn btn-lg btn-primary btn-block" type="submit" style="margin-top: 20px"><i
                class="glyphicon glyphicon-log-in"></i> Entrar
        </button>
        <br>
    <a href="" style="margin-top: 20px"><p class="text-center">Olvide mi contraseña <span
                class="glyphicon glyphicon-envelope"></span>
    </p></a>

    </form>
{% endblock %}
