/*.header-panel {
    background-color: #009587;
    height: 144px;
    position: relative;
    z-index: 3;
}*/

/* TEMPLATE STYLES */
/* Necessary for full page carousel*/

html,
body {
    height: 100%;
}

@media (max-width: 480px) {
    .footer-resize {
        font-size: smaller;
    }
}

.modal::before {
  content: "";
  display: inline-block;
  height: 100%;
  margin-right: 28%;
  vertical-align: middle;
}

.modal-dialog {
     display: inline-block;
     text-align: left;
     vertical-align: middle;

}


.cell-success{
    border:1px solid rgba(34, 34, 34, 0.98);
    border-radius: 100%;
}

.cell-header{
    border: 1px solid rgba(86,61,124,.2);
    background-color: rgba(86,61,124,.15);
}

.form-login{
    border: 7px solid silver;
    border-radius: 10%;
    padding: 10px;
    margin-top: 30px;
}

.img-login{
    margin-left: 62px;
}

footer{
    width:100%;
    min-height:100px;
    border: 1px solid rgba(0,0,0,0.6);
    box-shadow: #0c0d0e 7px 7px 10px 7px;
    background-image: linear-gradient(#484e55, #3a3f44 30%, #313539);
}




