@charset "UTF-8";

@font-face {
  font-family: "cbqweb-font";
  src:url("fonts/cbqweb-font.eot");
  src:url("fonts/cbqweb-font.eot?#iefix") format("embedded-opentype"),
    url("fonts/cbqweb-font.woff") format("woff"),
    url("fonts/cbqweb-font.ttf") format("truetype"),
    url("fonts/cbqweb-font.svg#cbqweb-font") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "cbqweb-font" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="cbqicon-"]:before,
[class*=" cbqicon-"]:before {
  font-family: "cbqweb-font" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 24px;
}

.cbqicon-productos:before {
  content: "\61";
}
.cbqicon-500px:before {
  content: "\62";
}
.cbqicon-adjust:before {
  content: "\63";
}
.cbqicon-adn:before {
  content: "\64";
}
.cbqicon-align-center:before {
  content: "\65";
}
.cbqicon-align-justify:before {
  content: "\66";
}
.cbqicon-align-left:before {
  content: "\67";
}
.cbqicon-align-right:before {
  content: "\68";
}
.cbqicon-amazon:before {
  content: "\69";
}
.cbqicon-ambulance:before {
  content: "\6a";
}
.cbqicon-anchor:before {
  content: "\6b";
}
.cbqicon-android:before {
  content: "\6c";
}
.cbqicon-angellist:before {
  content: "\6d";
}
.cbqicon-angle-double-down:before {
  content: "\6e";
}
.cbqicon-angle-double-left:before {
  content: "\6f";
}
.cbqicon-angle-double-right:before {
  content: "\70";
}
.cbqicon-angle-double-up:before {
  content: "\71";
}
.cbqicon-angle-down:before {
  content: "\72";
}
.cbqicon-angle-left:before {
  content: "\73";
}
.cbqicon-angle-right:before {
  content: "\74";
}
.cbqicon-angle-up:before {
  content: "\75";
}
.cbqicon-apple:before {
  content: "\76";
}
.cbqicon-archive:before {
  content: "\77";
}
.cbqicon-area-chart:before {
  content: "\78";
}
.cbqicon-arrow-circle-down:before {
  content: "\79";
}
.cbqicon-arrow-circle-left:before {
  content: "\7a";
}
.cbqicon-arrow-circle-o-down:before {
  content: "\41";
}
.cbqicon-arrow-circle-o-left:before {
  content: "\42";
}
.cbqicon-arrow-circle-o-right:before {
  content: "\43";
}
.cbqicon-arrow-circle-o-up:before {
  content: "\44";
}
.cbqicon-arrow-circle-right:before {
  content: "\45";
}
.cbqicon-arrow-circle-up:before {
  content: "\46";
}
.cbqicon-arrow-down:before {
  content: "\47";
}
.cbqicon-arrow-left:before {
  content: "\48";
}
.cbqicon-arrow-right:before {
  content: "\49";
}
.cbqicon-arrow-up:before {
  content: "\4a";
}
.cbqicon-arrows:before {
  content: "\4b";
}
.cbqicon-arrows-alt:before {
  content: "\4c";
}
.cbqicon-arrows-h:before {
  content: "\4d";
}
.cbqicon-arrows-v:before {
  content: "\4e";
}
.cbqicon-asterisk:before {
  content: "\4f";
}
.cbqicon-at:before {
  content: "\50";
}
.cbqicon-backward:before {
  content: "\51";
}
.cbqicon-balance-scale:before {
  content: "\52";
}
.cbqicon-ban:before {
  content: "\53";
}
.cbqicon-bar-chart:before {
  content: "\54";
}
.cbqicon-barcode:before {
  content: "\55";
}
.cbqicon-bars:before {
  content: "\56";
}
.cbqicon-battery-empty:before {
  content: "\57";
}
.cbqicon-battery-full:before {
  content: "\58";
}
.cbqicon-battery-half:before {
  content: "\59";
}
.cbqicon-battery-quarter:before {
  content: "\5a";
}
.cbqicon-battery-three-quarters:before {
  content: "\30";
}
.cbqicon-bed:before {
  content: "\31";
}
.cbqicon-beer:before {
  content: "\32";
}
.cbqicon-behance:before {
  content: "\33";
}
.cbqicon-behance-square:before {
  content: "\34";
}
.cbqicon-bell:before {
  content: "\35";
}
.cbqicon-bell-o:before {
  content: "\36";
}
.cbqicon-bell-slash:before {
  content: "\37";
}
.cbqicon-bell-slash-o:before {
  content: "\38";
}
.cbqicon-bicycle:before {
  content: "\39";
}
.cbqicon-binoculars:before {
  content: "\21";
}
.cbqicon-birthday-cake:before {
  content: "\22";
}
.cbqicon-bitbucket:before {
  content: "\23";
}
.cbqicon-bitbucket-square:before {
  content: "\24";
}
.cbqicon-black-tie:before {
  content: "\25";
}
.cbqicon-bold:before {
  content: "\26";
}
.cbqicon-bolt:before {
  content: "\27";
}
.cbqicon-bomb:before {
  content: "\28";
}
.cbqicon-book:before {
  content: "\29";
}
.cbqicon-bookmark:before {
  content: "\2a";
}
.cbqicon-bookmark-o:before {
  content: "\2b";
}
.cbqicon-briefcase:before {
  content: "\2c";
}
.cbqicon-btc:before {
  content: "\2d";
}
.cbqicon-bug:before {
  content: "\2e";
}
.cbqicon-building:before {
  content: "\2f";
}
.cbqicon-building-o:before {
  content: "\3a";
}
.cbqicon-bullhorn:before {
  content: "\3b";
}
.cbqicon-bullseye:before {
  content: "\3c";
}
.cbqicon-bus:before {
  content: "\3d";
}
.cbqicon-buysellads:before {
  content: "\3e";
}
.cbqicon-calculator:before {
  content: "\3f";
}
.cbqicon-calendar:before {
  content: "\40";
}
.cbqicon-calendar-check-o:before {
  content: "\5b";
}
.cbqicon-calendar-minus-o:before {
  content: "\5d";
}
.cbqicon-calendar-o:before {
  content: "\5e";
}
.cbqicon-calendar-plus-o:before {
  content: "\5f";
}
.cbqicon-calendar-times-o:before {
  content: "\60";
}
.cbqicon-camera:before {
  content: "\7b";
}
.cbqicon-camera-retro:before {
  content: "\7c";
}
.cbqicon-car:before {
  content: "\7d";
}
.cbqicon-caret-down:before {
  content: "\7e";
}
.cbqicon-caret-left:before {
  content: "\5c";
}
.cbqicon-caret-right:before {
  content: "\e000";
}
.cbqicon-caret-square-o-down:before {
  content: "\e001";
}
.cbqicon-caret-square-o-left:before {
  content: "\e002";
}
.cbqicon-caret-square-o-right:before {
  content: "\e003";
}
.cbqicon-caret-square-o-up:before {
  content: "\e004";
}
.cbqicon-caret-up:before {
  content: "\e005";
}
.cbqicon-cart-arrow-down:before {
  content: "\e006";
}
.cbqicon-cart-plus:before {
  content: "\e007";
}
.cbqicon-cc:before {
  content: "\e008";
}
.cbqicon-cc-amex:before {
  content: "\e009";
}
.cbqicon-cc-diners-club:before {
  content: "\e00a";
}
.cbqicon-cc-discover:before {
  content: "\e00b";
}
.cbqicon-cc-jcb:before {
  content: "\e00c";
}
.cbqicon-cc-mastercard:before {
  content: "\e00d";
}
.cbqicon-cc-paypal:before {
  content: "\e00e";
}
.cbqicon-cc-stripe:before {
  content: "\e00f";
}
.cbqicon-cc-visa:before {
  content: "\e010";
}
.cbqicon-certificate:before {
  content: "\e011";
}
.cbqicon-chain-broken:before {
  content: "\e012";
}
.cbqicon-check:before {
  content: "\e013";
}
.cbqicon-check-circle:before {
  content: "\e014";
}
.cbqicon-check-circle-o:before {
  content: "\e015";
}
.cbqicon-check-square:before {
  content: "\e016";
}
.cbqicon-check-square-o:before {
  content: "\e017";
}
.cbqicon-chevron-circle-down:before {
  content: "\e018";
}
.cbqicon-chevron-circle-left:before {
  content: "\e019";
}
.cbqicon-chevron-circle-right:before {
  content: "\e01a";
}
.cbqicon-chevron-circle-up:before {
  content: "\e01b";
}
.cbqicon-chevron-down:before {
  content: "\e01c";
}
.cbqicon-chevron-left:before {
  content: "\e01d";
}
.cbqicon-chevron-right:before {
  content: "\e01e";
}
.cbqicon-chevron-up:before {
  content: "\e01f";
}
.cbqicon-child:before {
  content: "\e020";
}
.cbqicon-chrome:before {
  content: "\e021";
}
.cbqicon-circle:before {
  content: "\e022";
}
.cbqicon-circle-o:before {
  content: "\e023";
}
.cbqicon-circle-o-notch:before {
  content: "\e024";
}
.cbqicon-circle-thin:before {
  content: "\e025";
}
.cbqicon-clipboard:before {
  content: "\e026";
}
.cbqicon-clock-o:before {
  content: "\e027";
}
.cbqicon-clone:before {
  content: "\e028";
}
.cbqicon-cloud:before {
  content: "\e029";
}
.cbqicon-cloud-download:before {
  content: "\e02a";
}
.cbqicon-cloud-upload:before {
  content: "\e02b";
}
.cbqicon-code:before {
  content: "\e02c";
}
.cbqicon-code-fork:before {
  content: "\e02d";
}
.cbqicon-codepen:before {
  content: "\e02e";
}
.cbqicon-coffee:before {
  content: "\e02f";
}
.cbqicon-cog:before {
  content: "\e030";
}
.cbqicon-cogs:before {
  content: "\e031";
}
.cbqicon-columns:before {
  content: "\e032";
}
.cbqicon-comment:before {
  content: "\e033";
}
.cbqicon-comment-o:before {
  content: "\e034";
}
.cbqicon-commenting:before {
  content: "\e035";
}
.cbqicon-commenting-o:before {
  content: "\e036";
}
.cbqicon-comments:before {
  content: "\e037";
}
.cbqicon-comments-o:before {
  content: "\e038";
}
.cbqicon-compass:before {
  content: "\e039";
}
.cbqicon-compress:before {
  content: "\e03a";
}
.cbqicon-connectdevelop:before {
  content: "\e03b";
}
.cbqicon-contao:before {
  content: "\e03c";
}
.cbqicon-copyright:before {
  content: "\e03d";
}
.cbqicon-creative-commons:before {
  content: "\e03e";
}
.cbqicon-credit-card:before {
  content: "\e03f";
}
.cbqicon-crop:before {
  content: "\e040";
}
.cbqicon-crosshairs:before {
  content: "\e041";
}
.cbqicon-css3:before {
  content: "\e042";
}
.cbqicon-cube:before {
  content: "\e043";
}
.cbqicon-cubes:before {
  content: "\e044";
}
.cbqicon-cutlery:before {
  content: "\e045";
}
.cbqicon-dashcube:before {
  content: "\e046";
}
.cbqicon-database:before {
  content: "\e047";
}
.cbqicon-delicious:before {
  content: "\e048";
}
.cbqicon-desktop:before {
  content: "\e049";
}
.cbqicon-deviantart:before {
  content: "\e04a";
}
.cbqicon-diamond:before {
  content: "\e04b";
}
.cbqicon-digg:before {
  content: "\e04c";
}
.cbqicon-dot-circle-o:before {
  content: "\e04d";
}
.cbqicon-download:before {
  content: "\e04e";
}
.cbqicon-dribbble:before {
  content: "\e04f";
}
.cbqicon-dropbox:before {
  content: "\e050";
}
.cbqicon-drupal:before {
  content: "\e051";
}
.cbqicon-eject:before {
  content: "\e052";
}
.cbqicon-ellipsis-h:before {
  content: "\e053";
}
.cbqicon-ellipsis-v:before {
  content: "\e054";
}
.cbqicon-empire:before {
  content: "\e055";
}
.cbqicon-envelope:before {
  content: "\e056";
}
.cbqicon-envelope-o:before {
  content: "\e057";
}
.cbqicon-envelope-square:before {
  content: "\e058";
}
.cbqicon-eraser:before {
  content: "\e059";
}
.cbqicon-eur:before {
  content: "\e05a";
}
.cbqicon-exchange:before {
  content: "\e05b";
}
.cbqicon-exclamation:before {
  content: "\e05c";
}
.cbqicon-exclamation-circle:before {
  content: "\e05d";
}
.cbqicon-exclamation-triangle:before {
  content: "\e05e";
}
.cbqicon-expand:before {
  content: "\e05f";
}
.cbqicon-expeditedssl:before {
  content: "\e060";
}
.cbqicon-external-link:before {
  content: "\e061";
}
.cbqicon-external-link-square:before {
  content: "\e062";
}
.cbqicon-eye:before {
  content: "\e063";
}
.cbqicon-eye-slash:before {
  content: "\e064";
}
.cbqicon-eyedropper:before {
  content: "\e065";
}
.cbqicon-facebook:before {
  content: "\e066";
}
.cbqicon-facebook-official:before {
  content: "\e067";
}
.cbqicon-facebook-square:before {
  content: "\e068";
}
.cbqicon-fast-backward:before {
  content: "\e069";
}
.cbqicon-fast-forward:before {
  content: "\e06a";
}
.cbqicon-fax:before {
  content: "\e06b";
}
.cbqicon-female:before {
  content: "\e06c";
}
.cbqicon-fighter-jet:before {
  content: "\e06d";
}
.cbqicon-file:before {
  content: "\e06e";
}
.cbqicon-file-archive-o:before {
  content: "\e06f";
}
.cbqicon-file-audio-o:before {
  content: "\e070";
}
.cbqicon-file-code-o:before {
  content: "\e071";
}
.cbqicon-file-excel-o:before {
  content: "\e072";
}
.cbqicon-file-image-o:before {
  content: "\e073";
}
.cbqicon-file-o:before {
  content: "\e074";
}
.cbqicon-file-pdf-o:before {
  content: "\e075";
}
.cbqicon-file-powerpoint-o:before {
  content: "\e076";
}
.cbqicon-file-text:before {
  content: "\e077";
}
.cbqicon-file-text-o:before {
  content: "\e078";
}
.cbqicon-file-video-o:before {
  content: "\e079";
}
.cbqicon-file-word-o:before {
  content: "\e07a";
}
.cbqicon-files-o:before {
  content: "\e07b";
}
.cbqicon-film:before {
  content: "\e07c";
}
.cbqicon-filter:before {
  content: "\e07d";
}
.cbqicon-fire:before {
  content: "\e07e";
}
.cbqicon-fire-extinguisher:before {
  content: "\e07f";
}
.cbqicon-firefox:before {
  content: "\e080";
}
.cbqicon-flag:before {
  content: "\e081";
}
.cbqicon-flag-checkered:before {
  content: "\e082";
}
.cbqicon-flag-o:before {
  content: "\e083";
}
.cbqicon-flickr:before {
  content: "\e084";
}
.cbqicon-floppy-o:before {
  content: "\e085";
}
.cbqicon-folder:before {
  content: "\e086";
}
.cbqicon-folder-o:before {
  content: "\e087";
}
.cbqicon-folder-open:before {
  content: "\e088";
}
.cbqicon-folder-open-o:before {
  content: "\e089";
}
.cbqicon-font:before {
  content: "\e08a";
}
.cbqicon-fonticons:before {
  content: "\e08b";
}
.cbqicon-forumbee:before {
  content: "\e08c";
}
.cbqicon-forward:before {
  content: "\e08d";
}
.cbqicon-foursquare:before {
  content: "\e08e";
}
.cbqicon-frown-o:before {
  content: "\e08f";
}
.cbqicon-futbol-o:before {
  content: "\e090";
}
.cbqicon-gamepad:before {
  content: "\e091";
}
.cbqicon-gavel:before {
  content: "\e092";
}
.cbqicon-gbp:before {
  content: "\e093";
}
.cbqicon-genderless:before {
  content: "\e094";
}
.cbqicon-get-pocket:before {
  content: "\e095";
}
.cbqicon-gg:before {
  content: "\e096";
}
.cbqicon-gg-circle:before {
  content: "\e097";
}
.cbqicon-gift:before {
  content: "\e098";
}
.cbqicon-git:before {
  content: "\e099";
}
.cbqicon-git-square:before {
  content: "\e09a";
}
.cbqicon-github:before {
  content: "\e09b";
}
.cbqicon-github-alt:before {
  content: "\e09c";
}
.cbqicon-github-square:before {
  content: "\e09d";
}
.cbqicon-glass:before {
  content: "\e09e";
}
.cbqicon-globe:before {
  content: "\e09f";
}
.cbqicon-google:before {
  content: "\e0a0";
}
.cbqicon-google-plus:before {
  content: "\e0a1";
}
.cbqicon-google-plus-square:before {
  content: "\e0a2";
}
.cbqicon-google-wallet:before {
  content: "\e0a3";
}
.cbqicon-graduation-cap:before {
  content: "\e0a4";
}
.cbqicon-gratipay:before {
  content: "\e0a5";
}
.cbqicon-h-square:before {
  content: "\e0a6";
}
.cbqicon-hacker-news:before {
  content: "\e0a7";
}
.cbqicon-hand-lizard-o:before {
  content: "\e0a8";
}
.cbqicon-hand-o-down:before {
  content: "\e0a9";
}
.cbqicon-hand-o-left:before {
  content: "\e0aa";
}
.cbqicon-hand-o-right:before {
  content: "\e0ab";
}
.cbqicon-hand-o-up:before {
  content: "\e0ac";
}
.cbqicon-hand-paper-o:before {
  content: "\e0ad";
}
.cbqicon-hand-peace-o:before {
  content: "\e0ae";
}
.cbqicon-hand-pointer-o:before {
  content: "\e0af";
}
.cbqicon-hand-rock-o:before {
  content: "\e0b0";
}
.cbqicon-hand-scissors-o:before {
  content: "\e0b1";
}
.cbqicon-hand-spock-o:before {
  content: "\e0b2";
}
.cbqicon-hdd-o:before {
  content: "\e0b3";
}
.cbqicon-header:before {
  content: "\e0b4";
}
.cbqicon-headphones:before {
  content: "\e0b5";
}
.cbqicon-heart:before {
  content: "\e0b6";
}
.cbqicon-heart-o:before {
  content: "\e0b7";
}
.cbqicon-heartbeat:before {
  content: "\e0b8";
}
.cbqicon-history:before {
  content: "\e0b9";
}
.cbqicon-home:before {
  content: "\e0ba";
}
.cbqicon-hospital-o:before {
  content: "\e0bb";
}
.cbqicon-hourglass:before {
  content: "\e0bc";
}
.cbqicon-hourglass-end:before {
  content: "\e0bd";
}
.cbqicon-hourglass-half:before {
  content: "\e0be";
}
.cbqicon-hourglass-o:before {
  content: "\e0bf";
}
.cbqicon-hourglass-start:before {
  content: "\e0c0";
}
.cbqicon-houzz:before {
  content: "\e0c1";
}
.cbqicon-html5:before {
  content: "\e0c2";
}
.cbqicon-i-cursor:before {
  content: "\e0c3";
}
.cbqicon-ils:before {
  content: "\e0c4";
}
.cbqicon-inbox:before {
  content: "\e0c5";
}
.cbqicon-indent:before {
  content: "\e0c6";
}
.cbqicon-industry:before {
  content: "\e0c7";
}
.cbqicon-info:before {
  content: "\e0c8";
}
.cbqicon-info-circle:before {
  content: "\e0c9";
}
.cbqicon-inr:before {
  content: "\e0ca";
}
.cbqicon-instagram:before {
  content: "\e0cb";
}
.cbqicon-internet-explorer:before {
  content: "\e0cc";
}
.cbqicon-ioxhost:before {
  content: "\e0cd";
}
.cbqicon-italic:before {
  content: "\e0ce";
}
.cbqicon-joomla:before {
  content: "\e0cf";
}
.cbqicon-jpy:before {
  content: "\e0d0";
}
.cbqicon-jsfiddle:before {
  content: "\e0d1";
}
.cbqicon-key:before {
  content: "\e0d2";
}
.cbqicon-keyboard-o:before {
  content: "\e0d3";
}
.cbqicon-krw:before {
  content: "\e0d4";
}
.cbqicon-language:before {
  content: "\e0d5";
}
.cbqicon-laptop:before {
  content: "\e0d6";
}
.cbqicon-lastfm:before {
  content: "\e0d7";
}
.cbqicon-lastfm-square:before {
  content: "\e0d8";
}
.cbqicon-leaf:before {
  content: "\e0d9";
}
.cbqicon-leanpub:before {
  content: "\e0da";
}
.cbqicon-lemon-o:before {
  content: "\e0db";
}
.cbqicon-level-down:before {
  content: "\e0dc";
}
.cbqicon-level-up:before {
  content: "\e0dd";
}
.cbqicon-life-ring:before {
  content: "\e0de";
}
.cbqicon-lightbulb-o:before {
  content: "\e0df";
}
.cbqicon-line-chart:before {
  content: "\e0e0";
}
.cbqicon-link:before {
  content: "\e0e1";
}
.cbqicon-linkedin:before {
  content: "\e0e2";
}
.cbqicon-linkedin-square:before {
  content: "\e0e3";
}
.cbqicon-linux:before {
  content: "\e0e4";
}
.cbqicon-list:before {
  content: "\e0e5";
}
.cbqicon-list-alt:before {
  content: "\e0e6";
}
.cbqicon-list-ol:before {
  content: "\e0e7";
}
.cbqicon-list-ul:before {
  content: "\e0e8";
}
.cbqicon-location-arrow:before {
  content: "\e0e9";
}
.cbqicon-lock:before {
  content: "\e0ea";
}
.cbqicon-long-arrow-down:before {
  content: "\e0eb";
}
.cbqicon-long-arrow-left:before {
  content: "\e0ec";
}
.cbqicon-long-arrow-right:before {
  content: "\e0ed";
}
.cbqicon-long-arrow-up:before {
  content: "\e0ee";
}
.cbqicon-magic:before {
  content: "\e0ef";
}
.cbqicon-magnet:before {
  content: "\e0f0";
}
.cbqicon-male:before {
  content: "\e0f1";
}
.cbqicon-map:before {
  content: "\e0f2";
}
.cbqicon-map-marker:before {
  content: "\e0f3";
}
.cbqicon-map-o:before {
  content: "\e0f4";
}
.cbqicon-map-pin:before {
  content: "\e0f5";
}
.cbqicon-map-signs:before {
  content: "\e0f6";
}
.cbqicon-mars:before {
  content: "\e0f7";
}
.cbqicon-mars-double:before {
  content: "\e0f8";
}
.cbqicon-mars-stroke:before {
  content: "\e0f9";
}
.cbqicon-mars-stroke-h:before {
  content: "\e0fa";
}
.cbqicon-mars-stroke-v:before {
  content: "\e0fb";
}
.cbqicon-maxcdn:before {
  content: "\e0fc";
}
.cbqicon-meanpath:before {
  content: "\e0fd";
}
.cbqicon-medium:before {
  content: "\e0fe";
}
.cbqicon-medkit:before {
  content: "\e0ff";
}
.cbqicon-meh-o:before {
  content: "\e100";
}
.cbqicon-mercury:before {
  content: "\e101";
}
.cbqicon-microphone:before {
  content: "\e102";
}
.cbqicon-microphone-slash:before {
  content: "\e103";
}
.cbqicon-minus:before {
  content: "\e104";
}
.cbqicon-minus-circle:before {
  content: "\e105";
}
.cbqicon-minus-square:before {
  content: "\e106";
}
.cbqicon-minus-square-o:before {
  content: "\e107";
}
.cbqicon-mobile:before {
  content: "\e108";
}
.cbqicon-money:before {
  content: "\e109";
}
.cbqicon-moon-o:before {
  content: "\e10a";
}
.cbqicon-motorcycle:before {
  content: "\e10b";
}
.cbqicon-mouse-pointer:before {
  content: "\e10c";
}
.cbqicon-music:before {
  content: "\e10d";
}
.cbqicon-neuter:before {
  content: "\e10e";
}
.cbqicon-newspaper-o:before {
  content: "\e10f";
}
.cbqicon-object-group:before {
  content: "\e110";
}
.cbqicon-object-ungroup:before {
  content: "\e111";
}
.cbqicon-odnoklassniki:before {
  content: "\e112";
}
.cbqicon-odnoklassniki-square:before {
  content: "\e113";
}
.cbqicon-opencart:before {
  content: "\e114";
}
.cbqicon-openid:before {
  content: "\e115";
}
.cbqicon-opera:before {
  content: "\e116";
}
.cbqicon-optin-monster:before {
  content: "\e117";
}
.cbqicon-outdent:before {
  content: "\e118";
}
.cbqicon-pagelines:before {
  content: "\e119";
}
.cbqicon-paint-brush:before {
  content: "\e11a";
}
.cbqicon-paper-plane:before {
  content: "\e11b";
}
.cbqicon-paper-plane-o:before {
  content: "\e11c";
}
.cbqicon-paperclip:before {
  content: "\e11d";
}
.cbqicon-paragraph:before {
  content: "\e11e";
}
.cbqicon-pause:before {
  content: "\e11f";
}
.cbqicon-paw:before {
  content: "\e120";
}
.cbqicon-paypal:before {
  content: "\e121";
}
.cbqicon-pencil:before {
  content: "\e122";
}
.cbqicon-pencil-square:before {
  content: "\e123";
}
.cbqicon-pencil-square-o:before {
  content: "\e124";
}
.cbqicon-phone:before {
  content: "\e125";
}
.cbqicon-phone-square:before {
  content: "\e126";
}
.cbqicon-picture-o:before {
  content: "\e127";
}
.cbqicon-pie-chart:before {
  content: "\e128";
}
.cbqicon-pied-piper:before {
  content: "\e129";
}
.cbqicon-pied-piper-alt:before {
  content: "\e12a";
}
.cbqicon-pinterest:before {
  content: "\e12b";
}
.cbqicon-pinterest-p:before {
  content: "\e12c";
}
.cbqicon-pinterest-square:before {
  content: "\e12d";
}
.cbqicon-plane:before {
  content: "\e12e";
}
.cbqicon-play:before {
  content: "\e12f";
}
.cbqicon-play-circle:before {
  content: "\e130";
}
.cbqicon-play-circle-o:before {
  content: "\e131";
}
.cbqicon-plug:before {
  content: "\e132";
}
.cbqicon-plus:before {
  content: "\e133";
}
.cbqicon-plus-circle:before {
  content: "\e134";
}
.cbqicon-plus-square:before {
  content: "\e135";
}
.cbqicon-plus-square-o:before {
  content: "\e136";
}
.cbqicon-power-off:before {
  content: "\e137";
}
.cbqicon-print:before {
  content: "\e138";
}
.cbqicon-puzzle-piece:before {
  content: "\e139";
}
.cbqicon-qq:before {
  content: "\e13a";
}
.cbqicon-qrcode:before {
  content: "\e13b";
}
.cbqicon-question:before {
  content: "\e13c";
}
.cbqicon-question-circle:before {
  content: "\e13d";
}
.cbqicon-quote-left:before {
  content: "\e13e";
}
.cbqicon-quote-right:before {
  content: "\e13f";
}
.cbqicon-random:before {
  content: "\e140";
}
.cbqicon-rebel:before {
  content: "\e141";
}
.cbqicon-recycle:before {
  content: "\e142";
}
.cbqicon-reddit:before {
  content: "\e143";
}
.cbqicon-reddit-square:before {
  content: "\e144";
}
.cbqicon-refresh:before {
  content: "\e145";
}
.cbqicon-registered:before {
  content: "\e146";
}
.cbqicon-renren:before {
  content: "\e147";
}
.cbqicon-repeat:before {
  content: "\e148";
}
.cbqicon-reply:before {
  content: "\e149";
}
.cbqicon-reply-all:before {
  content: "\e14a";
}
.cbqicon-retweet:before {
  content: "\e14b";
}
.cbqicon-road:before {
  content: "\e14c";
}
.cbqicon-rocket:before {
  content: "\e14d";
}
.cbqicon-rss:before {
  content: "\e14e";
}
.cbqicon-rss-square:before {
  content: "\e14f";
}
.cbqicon-rub:before {
  content: "\e150";
}
.cbqicon-safari:before {
  content: "\e151";
}
.cbqicon-scissors:before {
  content: "\e152";
}
.cbqicon-search:before {
  content: "\e153";
}
.cbqicon-search-minus:before {
  content: "\e154";
}
.cbqicon-search-plus:before {
  content: "\e155";
}
.cbqicon-sellsy:before {
  content: "\e156";
}
.cbqicon-server:before {
  content: "\e157";
}
.cbqicon-share:before {
  content: "\e158";
}
.cbqicon-share-alt:before {
  content: "\e159";
}
.cbqicon-share-alt-square:before {
  content: "\e15a";
}
.cbqicon-share-square:before {
  content: "\e15b";
}
.cbqicon-share-square-o:before {
  content: "\e15c";
}
.cbqicon-shield:before {
  content: "\e15d";
}
.cbqicon-ship:before {
  content: "\e15e";
}
.cbqicon-shirtsinbulk:before {
  content: "\e15f";
}
.cbqicon-shopping-cart:before {
  content: "\e160";
}
.cbqicon-sign-in:before {
  content: "\e161";
}
.cbqicon-sign-out:before {
  content: "\e162";
}
.cbqicon-signal:before {
  content: "\e163";
}
.cbqicon-simplybuilt:before {
  content: "\e164";
}
.cbqicon-sitemap:before {
  content: "\e165";
}
.cbqicon-skyatlas:before {
  content: "\e166";
}
.cbqicon-skype:before {
  content: "\e167";
}
.cbqicon-slack:before {
  content: "\e168";
}
.cbqicon-sliders:before {
  content: "\e169";
}
.cbqicon-slideshare:before {
  content: "\e16a";
}
.cbqicon-smile-o:before {
  content: "\e16b";
}
.cbqicon-sort:before {
  content: "\e16c";
}
.cbqicon-sort-alpha-asc:before {
  content: "\e16d";
}
.cbqicon-sort-alpha-desc:before {
  content: "\e16e";
}
.cbqicon-sort-amount-asc:before {
  content: "\e16f";
}
.cbqicon-sort-amount-desc:before {
  content: "\e170";
}
.cbqicon-sort-asc:before {
  content: "\e171";
}
.cbqicon-sort-desc:before {
  content: "\e172";
}
.cbqicon-sort-numeric-asc:before {
  content: "\e173";
}
.cbqicon-sort-numeric-desc:before {
  content: "\e174";
}
.cbqicon-soundcloud:before {
  content: "\e175";
}
.cbqicon-space-shuttle:before {
  content: "\e176";
}
.cbqicon-spinner:before {
  content: "\e177";
}
.cbqicon-spoon:before {
  content: "\e178";
}
.cbqicon-spotify:before {
  content: "\e179";
}
.cbqicon-square:before {
  content: "\e17a";
}
.cbqicon-square-o:before {
  content: "\e17b";
}
.cbqicon-stack-exchange:before {
  content: "\e17c";
}
.cbqicon-stack-overflow:before {
  content: "\e17d";
}
.cbqicon-star:before {
  content: "\e17e";
}
.cbqicon-star-half:before {
  content: "\e17f";
}
.cbqicon-star-half-o:before {
  content: "\e180";
}
.cbqicon-star-o:before {
  content: "\e181";
}
.cbqicon-steam:before {
  content: "\e182";
}
.cbqicon-steam-square:before {
  content: "\e183";
}
.cbqicon-step-backward:before {
  content: "\e184";
}
.cbqicon-step-forward:before {
  content: "\e185";
}
.cbqicon-stethoscope:before {
  content: "\e186";
}
.cbqicon-sticky-note:before {
  content: "\e187";
}
.cbqicon-sticky-note-o:before {
  content: "\e188";
}
.cbqicon-stop:before {
  content: "\e189";
}
.cbqicon-street-view:before {
  content: "\e18a";
}
.cbqicon-strikethrough:before {
  content: "\e18b";
}
.cbqicon-stumbleupon:before {
  content: "\e18c";
}
.cbqicon-stumbleupon-circle:before {
  content: "\e18d";
}
.cbqicon-subscript:before {
  content: "\e18e";
}
.cbqicon-subway:before {
  content: "\e18f";
}
.cbqicon-suitcase:before {
  content: "\e190";
}
.cbqicon-sun-o:before {
  content: "\e191";
}
.cbqicon-superscript:before {
  content: "\e192";
}
.cbqicon-table:before {
  content: "\e193";
}
.cbqicon-tablet:before {
  content: "\e194";
}
.cbqicon-tachometer:before {
  content: "\e195";
}
.cbqicon-tag:before {
  content: "\e196";
}
.cbqicon-tags:before {
  content: "\e197";
}
.cbqicon-tasks:before {
  content: "\e198";
}
.cbqicon-taxi:before {
  content: "\e199";
}
.cbqicon-television:before {
  content: "\e19a";
}
.cbqicon-tencent-weibo:before {
  content: "\e19b";
}
.cbqicon-terminal:before {
  content: "\e19c";
}
.cbqicon-text-height:before {
  content: "\e19d";
}
.cbqicon-text-width:before {
  content: "\e19e";
}
.cbqicon-th:before {
  content: "\e19f";
}
.cbqicon-th-large:before {
  content: "\e1a0";
}
.cbqicon-th-list:before {
  content: "\e1a1";
}
.cbqicon-thumb-tack:before {
  content: "\e1a2";
}
.cbqicon-thumbs-down:before {
  content: "\e1a3";
}
.cbqicon-thumbs-o-down:before {
  content: "\e1a4";
}
.cbqicon-thumbs-o-up:before {
  content: "\e1a5";
}
.cbqicon-thumbs-up:before {
  content: "\e1a6";
}
.cbqicon-ticket:before {
  content: "\e1a7";
}
.cbqicon-times:before {
  content: "\e1a8";
}
.cbqicon-times-circle:before {
  content: "\e1a9";
}
.cbqicon-times-circle-o:before {
  content: "\e1aa";
}
.cbqicon-tint:before {
  content: "\e1ab";
}
.cbqicon-toggle-off:before {
  content: "\e1ac";
}
.cbqicon-toggle-on:before {
  content: "\e1ad";
}
.cbqicon-trademark:before {
  content: "\e1ae";
}
.cbqicon-train:before {
  content: "\e1af";
}
.cbqicon-transgender:before {
  content: "\e1b0";
}
.cbqicon-transgender-alt:before {
  content: "\e1b1";
}
.cbqicon-trash:before {
  content: "\e1b2";
}
.cbqicon-trash-o:before {
  content: "\e1b3";
}
.cbqicon-tree:before {
  content: "\e1b4";
}
.cbqicon-trello:before {
  content: "\e1b5";
}
.cbqicon-tripadvisor:before {
  content: "\e1b6";
}
.cbqicon-trophy:before {
  content: "\e1b7";
}
.cbqicon-truck:before {
  content: "\e1b8";
}
.cbqicon-try:before {
  content: "\e1b9";
}
.cbqicon-tty:before {
  content: "\e1ba";
}
.cbqicon-tumblr:before {
  content: "\e1bb";
}
.cbqicon-tumblr-square:before {
  content: "\e1bc";
}
.cbqicon-twitch:before {
  content: "\e1bd";
}
.cbqicon-twitter:before {
  content: "\e1be";
}
.cbqicon-twitter-square:before {
  content: "\e1bf";
}
.cbqicon-umbrella:before {
  content: "\e1c0";
}
.cbqicon-underline:before {
  content: "\e1c1";
}
.cbqicon-undo:before {
  content: "\e1c2";
}
.cbqicon-university:before {
  content: "\e1c3";
}
.cbqicon-unlock:before {
  content: "\e1c4";
}
.cbqicon-unlock-alt:before {
  content: "\e1c5";
}
.cbqicon-upload:before {
  content: "\e1c6";
}
.cbqicon-usd:before {
  content: "\e1c7";
}
.cbqicon-user:before {
  content: "\e1c8";
}
.cbqicon-user-md:before {
  content: "\e1c9";
}
.cbqicon-user-plus:before {
  content: "\e1ca";
}
.cbqicon-user-secret:before {
  content: "\e1cb";
}
.cbqicon-user-times:before {
  content: "\e1cc";
}
.cbqicon-users:before {
  content: "\e1cd";
}
.cbqicon-venus:before {
  content: "\e1ce";
}
.cbqicon-venus-double:before {
  content: "\e1cf";
}
.cbqicon-venus-mars:before {
  content: "\e1d0";
}
.cbqicon-viacoin:before {
  content: "\e1d1";
}
.cbqicon-video-camera:before {
  content: "\e1d2";
}
.cbqicon-vimeo:before {
  content: "\e1d3";
}
.cbqicon-vimeo-square:before {
  content: "\e1d4";
}
.cbqicon-vine:before {
  content: "\e1d5";
}
.cbqicon-vk:before {
  content: "\e1d6";
}
.cbqicon-volume-down:before {
  content: "\e1d7";
}
.cbqicon-volume-off:before {
  content: "\e1d8";
}
.cbqicon-volume-up:before {
  content: "\e1d9";
}
.cbqicon-weibo:before {
  content: "\e1da";
}
.cbqicon-weixin:before {
  content: "\e1db";
}
.cbqicon-whatsapp:before {
  content: "\e1dc";
}
.cbqicon-wheelchair:before {
  content: "\e1dd";
}
.cbqicon-wifi:before {
  content: "\e1de";
}
.cbqicon-wikipedia-w:before {
  content: "\e1df";
}
.cbqicon-windows:before {
  content: "\e1e0";
}
.cbqicon-wordpress:before {
  content: "\e1e1";
}
.cbqicon-wrench:before {
  content: "\e1e2";
}
.cbqicon-xing:before {
  content: "\e1e3";
}
.cbqicon-xing-square:before {
  content: "\e1e4";
}
.cbqicon-y-combinator:before {
  content: "\e1e5";
}
.cbqicon-yahoo:before {
  content: "\e1e6";
}
.cbqicon-yelp:before {
  content: "\e1e7";
}
.cbqicon-youtube:before {
  content: "\e1e8";
}
.cbqicon-youtube-play:before {
  content: "\e1e9";
}
.cbqicon-youtube-square:before {
  content: "\e1ea";
}
.cbqicon-flask:before {
  content: "\e1eb";
}
.cbqicon-alert:before {
  content: "\e1ec";
}
.cbqicon-alignment-align:before {
  content: "\e1ed";
}
.cbqicon-alignment-aligned-to:before {
  content: "\e1ee";
}
.cbqicon-alignment-unalign:before {
  content: "\e1ef";
}
.cbqicon-arrow-down-1:before {
  content: "\e1f0";
}
.cbqicon-arrow-left-1:before {
  content: "\e1f1";
}
.cbqicon-arrow-right-1:before {
  content: "\e1f2";
}
.cbqicon-arrow-small-down:before {
  content: "\e1f3";
}
.cbqicon-arrow-small-left:before {
  content: "\e1f4";
}
.cbqicon-arrow-small-right:before {
  content: "\e1f5";
}
.cbqicon-arrow-small-up:before {
  content: "\e1f6";
}
.cbqicon-arrow-up-1:before {
  content: "\e1f7";
}
.cbqicon-beer-1:before {
  content: "\e1f8";
}
.cbqicon-book-1:before {
  content: "\e1f9";
}
.cbqicon-bookmark-1:before {
  content: "\e1fa";
}
.cbqicon-briefcase-1:before {
  content: "\e1fb";
}
.cbqicon-broadcast:before {
  content: "\e1fc";
}
.cbqicon-browser:before {
  content: "\e1fd";
}
.cbqicon-bug-1:before {
  content: "\e1fe";
}
.cbqicon-calendar-1:before {
  content: "\e1ff";
}
.cbqicon-check-1:before {
  content: "\e200";
}
.cbqicon-checklist:before {
  content: "\e201";
}
.cbqicon-chevron-down-1:before {
  content: "\e202";
}
.cbqicon-chevron-left-1:before {
  content: "\e203";
}
.cbqicon-chevron-right-1:before {
  content: "\e204";
}
.cbqicon-chevron-up-1:before {
  content: "\e205";
}
.cbqicon-circle-slash:before {
  content: "\e206";
}
.cbqicon-circuit-board:before {
  content: "\e207";
}
.cbqicon-clippy:before {
  content: "\e208";
}
.cbqicon-clock:before {
  content: "\e209";
}
.cbqicon-cloud-download-1:before {
  content: "\e20a";
}
.cbqicon-cloud-upload-1:before {
  content: "\e20b";
}
.cbqicon-code-1:before {
  content: "\e20c";
}
.cbqicon-color-mode:before {
  content: "\e20d";
}
.cbqicon-comment-1:before {
  content: "\e20e";
}
.cbqicon-comment-discussion:before {
  content: "\e20f";
}
.cbqicon-credit-card-1:before {
  content: "\e210";
}
.cbqicon-dash:before {
  content: "\e211";
}
.cbqicon-dashboard:before {
  content: "\e212";
}
.cbqicon-database-1:before {
  content: "\e213";
}
.cbqicon-device-camera:before {
  content: "\e214";
}
.cbqicon-device-camera-video:before {
  content: "\e215";
}
.cbqicon-device-desktop:before {
  content: "\e216";
}
.cbqicon-device-mobile:before {
  content: "\e217";
}
.cbqicon-diff:before {
  content: "\e218";
}
.cbqicon-diff-added:before {
  content: "\e219";
}
.cbqicon-diff-ignored:before {
  content: "\e21a";
}
.cbqicon-diff-modified:before {
  content: "\e21b";
}
.cbqicon-diff-removed:before {
  content: "\e21c";
}
.cbqicon-diff-renamed:before {
  content: "\e21d";
}
.cbqicon-ellipsis:before {
  content: "\e21e";
}
.cbqicon-eye-1:before {
  content: "\e21f";
}
.cbqicon-file-binary:before {
  content: "\e220";
}
.cbqicon-file-code:before {
  content: "\e221";
}
.cbqicon-file-directory:before {
  content: "\e222";
}
.cbqicon-file-media:before {
  content: "\e223";
}
.cbqicon-file-pdf:before {
  content: "\e224";
}
.cbqicon-file-submodule:before {
  content: "\e225";
}
.cbqicon-file-symlink-directory:before {
  content: "\e226";
}
.cbqicon-file-symlink-file:before {
  content: "\e227";
}
.cbqicon-file-text-1:before {
  content: "\e228";
}
.cbqicon-file-zip:before {
  content: "\e229";
}
.cbqicon-flame:before {
  content: "\e22a";
}
.cbqicon-fold:before {
  content: "\e22b";
}
.cbqicon-gear:before {
  content: "\e22c";
}
.cbqicon-gift-1:before {
  content: "\e22d";
}
.cbqicon-gist:before {
  content: "\e22e";
}
.cbqicon-gist-secret:before {
  content: "\e22f";
}
.cbqicon-git-branch:before {
  content: "\e230";
}
.cbqicon-git-commit:before {
  content: "\e231";
}
.cbqicon-git-compare:before {
  content: "\e232";
}
.cbqicon-git-merge:before {
  content: "\e233";
}
.cbqicon-git-pull-request:before {
  content: "\e234";
}
.cbqicon-globe-1:before {
  content: "\e235";
}
.cbqicon-graph:before {
  content: "\e236";
}
.cbqicon-heart-1:before {
  content: "\e237";
}
.cbqicon-history-1:before {
  content: "\e238";
}
.cbqicon-home-1:before {
  content: "\e239";
}
.cbqicon-horizontal-rule:before {
  content: "\e23a";
}
.cbqicon-hourglass-1:before {
  content: "\e23b";
}
.cbqicon-hubot:before {
  content: "\e23c";
}
.cbqicon-inbox-1:before {
  content: "\e23d";
}
.cbqicon-info-1:before {
  content: "\e23e";
}
.cbqicon-issue-closed:before {
  content: "\e23f";
}
.cbqicon-issue-opened:before {
  content: "\e240";
}
.cbqicon-issue-reopened:before {
  content: "\e241";
}
.cbqicon-jersey:before {
  content: "\e242";
}
.cbqicon-jump-down:before {
  content: "\e243";
}
.cbqicon-jump-left:before {
  content: "\e244";
}
.cbqicon-jump-right:before {
  content: "\e245";
}
.cbqicon-jump-up:before {
  content: "\e246";
}
.cbqicon-key-1:before {
  content: "\e247";
}
.cbqicon-keyboard:before {
  content: "\e248";
}
.cbqicon-law:before {
  content: "\e249";
}
.cbqicon-light-bulb:before {
  content: "\e24a";
}
.cbqicon-link-1:before {
  content: "\e24b";
}
.cbqicon-link-external:before {
  content: "\e24c";
}
.cbqicon-list-ordered:before {
  content: "\e24d";
}
.cbqicon-list-unordered:before {
  content: "\e24e";
}
.cbqicon-location:before {
  content: "\e24f";
}
.cbqicon-lock-1:before {
  content: "\e250";
}
.cbqicon-logo-github:before {
  content: "\e251";
}
.cbqicon-mail:before {
  content: "\e252";
}
.cbqicon-mail-read:before {
  content: "\e253";
}
.cbqicon-mail-reply:before {
  content: "\e254";
}
.cbqicon-mark-github:before {
  content: "\e255";
}
.cbqicon-markdown:before {
  content: "\e256";
}
.cbqicon-megaphone:before {
  content: "\e257";
}
.cbqicon-mention:before {
  content: "\e258";
}
.cbqicon-microscope:before {
  content: "\e259";
}
.cbqicon-milestone:before {
  content: "\e25a";
}
.cbqicon-mirror:before {
  content: "\e25b";
}
.cbqicon-mortar-board:before {
  content: "\e25c";
}
.cbqicon-move-down:before {
  content: "\e25d";
}
.cbqicon-move-left:before {
  content: "\e25e";
}
.cbqicon-move-right:before {
  content: "\e25f";
}
.cbqicon-move-up:before {
  content: "\e260";
}
.cbqicon-mute:before {
  content: "\e261";
}
.cbqicon-no-newline:before {
  content: "\e262";
}
.cbqicon-octoface:before {
  content: "\e263";
}
.cbqicon-organization:before {
  content: "\e264";
}
.cbqicon-package:before {
  content: "\e265";
}
.cbqicon-paintcan:before {
  content: "\e266";
}
.cbqicon-pencil-1:before {
  content: "\e267";
}
.cbqicon-person:before {
  content: "\e268";
}
.cbqicon-pin:before {
  content: "\e269";
}
.cbqicon-playback-fast-forward:before {
  content: "\e26a";
}
.cbqicon-playback-pause:before {
  content: "\e26b";
}
.cbqicon-playback-play:before {
  content: "\e26c";
}
.cbqicon-playback-rewind:before {
  content: "\e26d";
}
.cbqicon-plug-1:before {
  content: "\e26e";
}
.cbqicon-plus-1:before {
  content: "\e26f";
}
.cbqicon-podium:before {
  content: "\e270";
}
.cbqicon-primitive-dot:before {
  content: "\e271";
}
.cbqicon-primitive-square:before {
  content: "\e272";
}
.cbqicon-pulse:before {
  content: "\e273";
}
.cbqicon-puzzle:before {
  content: "\e274";
}
.cbqicon-question-1:before {
  content: "\e275";
}
.cbqicon-quote:before {
  content: "\e276";
}
.cbqicon-radio-tower:before {
  content: "\e277";
}
.cbqicon-repo:before {
  content: "\e278";
}
.cbqicon-repo-clone:before {
  content: "\e279";
}
.cbqicon-repo-force-push:before {
  content: "\e27a";
}
.cbqicon-repo-forked:before {
  content: "\e27b";
}
.cbqicon-repo-pull:before {
  content: "\e27c";
}
.cbqicon-repo-push:before {
  content: "\e27d";
}
.cbqicon-rocket-1:before {
  content: "\e27e";
}
.cbqicon-rss-1:before {
  content: "\e27f";
}
.cbqicon-ruby:before {
  content: "\e280";
}
.cbqicon-screen-full:before {
  content: "\e281";
}
.cbqicon-screen-normal:before {
  content: "\e282";
}
.cbqicon-search-1:before {
  content: "\e283";
}
.cbqicon-server-1:before {
  content: "\e284";
}
.cbqicon-settings:before {
  content: "\e285";
}
.cbqicon-sign-in-1:before {
  content: "\e286";
}
.cbqicon-sign-out-1:before {
  content: "\e287";
}
.cbqicon-split:before {
  content: "\e288";
}
.cbqicon-squirrel:before {
  content: "\e289";
}
.cbqicon-star-1:before {
  content: "\e28a";
}
.cbqicon-steps:before {
  content: "\e28b";
}
.cbqicon-stop-1:before {
  content: "\e28c";
}
.cbqicon-sync:before {
  content: "\e28d";
}
.cbqicon-tag-1:before {
  content: "\e28e";
}
.cbqicon-telescope:before {
  content: "\e28f";
}
.cbqicon-terminal-1:before {
  content: "\e290";
}
.cbqicon-three-bars:before {
  content: "\e291";
}
.cbqicon-tools:before {
  content: "\e292";
}
.cbqicon-trashcan:before {
  content: "\e293";
}
.cbqicon-triangle-down:before {
  content: "\e294";
}
.cbqicon-triangle-left:before {
  content: "\e295";
}
.cbqicon-triangle-right:before {
  content: "\e296";
}
.cbqicon-triangle-up:before {
  content: "\e297";
}
.cbqicon-unfold:before {
  content: "\e298";
}
.cbqicon-unmute:before {
  content: "\e299";
}
.cbqicon-versions:before {
  content: "\e29a";
}
.cbqicon-x:before {
  content: "\e29b";
}
.cbqicon-zap:before {
  content: "\e29c";
}
.cbqicon-address-book:before {
  content: "\e29d";
}
.cbqicon-alert-1:before {
  content: "\e29e";
}
.cbqicon-align-center-1:before {
  content: "\e29f";
}
.cbqicon-align-justify-1:before {
  content: "\e2a0";
}
.cbqicon-align-left-1:before {
  content: "\e2a1";
}
.cbqicon-align-right-1:before {
  content: "\e2a2";
}
.cbqicon-anchor-1:before {
  content: "\e2a3";
}
.cbqicon-annotate:before {
  content: "\e2a4";
}
.cbqicon-archive-1:before {
  content: "\e2a5";
}
.cbqicon-arrow-down-2:before {
  content: "\e2a6";
}
.cbqicon-arrow-left-2:before {
  content: "\e2a7";
}
.cbqicon-arrow-right-2:before {
  content: "\e2a8";
}
.cbqicon-arrow-up-2:before {
  content: "\e2a9";
}
.cbqicon-arrows-compress:before {
  content: "\e2aa";
}
.cbqicon-arrows-expand:before {
  content: "\e2ab";
}
.cbqicon-arrows-in:before {
  content: "\e2ac";
}
.cbqicon-arrows-out:before {
  content: "\e2ad";
}
.cbqicon-asl:before {
  content: "\e2ae";
}
.cbqicon-asterisk-1:before {
  content: "\e2af";
}
.cbqicon-at-sign:before {
  content: "\e2b0";
}
.cbqicon-background-color:before {
  content: "\e2b1";
}
.cbqicon-battery-empty-1:before {
  content: "\e2b2";
}
.cbqicon-battery-full-1:before {
  content: "\e2b3";
}
.cbqicon-battery-half-1:before {
  content: "\e2b4";
}
.cbqicon-bitcoin:before {
  content: "\e2b5";
}
.cbqicon-bitcoin-circle:before {
  content: "\e2b6";
}
.cbqicon-blind:before {
  content: "\e2b7";
}
.cbqicon-bluetooth:before {
  content: "\e2b8";
}
.cbqicon-bold-1:before {
  content: "\e2b9";
}
.cbqicon-book-2:before {
  content: "\e2ba";
}
.cbqicon-book-bookmark:before {
  content: "\e2bb";
}
.cbqicon-bookmark-2:before {
  content: "\e2bc";
}
.cbqicon-braille:before {
  content: "\e2bd";
}
.cbqicon-burst:before {
  content: "\e2be";
}
.cbqicon-burst-new:before {
  content: "\e2bf";
}
.cbqicon-burst-sale:before {
  content: "\e2c0";
}
.cbqicon-calendar-2:before {
  content: "\e2c1";
}
.cbqicon-camera-1:before {
  content: "\e2c2";
}
.cbqicon-check-2:before {
  content: "\e2c3";
}
.cbqicon-checkbox:before {
  content: "\e2c4";
}
.cbqicon-clipboard-1:before {
  content: "\e2c5";
}
.cbqicon-clipboard-notes:before {
  content: "\e2c6";
}
.cbqicon-clipboard-pencil:before {
  content: "\e2c7";
}
.cbqicon-clock-1:before {
  content: "\e2c8";
}
.cbqicon-closed-caption:before {
  content: "\e2c9";
}
.cbqicon-cloud-1:before {
  content: "\e2ca";
}
.cbqicon-comment-2:before {
  content: "\e2cb";
}
.cbqicon-comment-minus:before {
  content: "\e2cc";
}
.cbqicon-comment-quotes:before {
  content: "\e2cd";
}
.cbqicon-comment-video:before {
  content: "\e2ce";
}
.cbqicon-comments-1:before {
  content: "\e2cf";
}
.cbqicon-compass-1:before {
  content: "\e2d0";
}
.cbqicon-contrast:before {
  content: "\e2d1";
}
.cbqicon-credit-card-2:before {
  content: "\e2d2";
}
.cbqicon-crop-1:before {
  content: "\e2d3";
}
.cbqicon-crown:before {
  content: "\e2d4";
}
.cbqicon-css3-1:before {
  content: "\e2d5";
}
.cbqicon-database-2:before {
  content: "\e2d6";
}
.cbqicon-die-five:before {
  content: "\e2d7";
}
.cbqicon-die-four:before {
  content: "\e2d8";
}
.cbqicon-die-one:before {
  content: "\e2d9";
}
.cbqicon-die-six:before {
  content: "\e2da";
}
.cbqicon-die-three:before {
  content: "\e2db";
}
.cbqicon-die-two:before {
  content: "\e2dc";
}
.cbqicon-dislike:before {
  content: "\e2dd";
}
.cbqicon-dollar:before {
  content: "\e2de";
}
.cbqicon-dollar-bill:before {
  content: "\e2df";
}
.cbqicon-download-1:before {
  content: "\e2e0";
}
.cbqicon-eject-1:before {
  content: "\e2e1";
}
.cbqicon-elevator:before {
  content: "\e2e2";
}
.cbqicon-euro:before {
  content: "\e2e3";
}
.cbqicon-eye-2:before {
  content: "\e2e4";
}
.cbqicon-fast-forward-1:before {
  content: "\e2e5";
}
.cbqicon-female-1:before {
  content: "\e2e6";
}
.cbqicon-female-symbol:before {
  content: "\e2e7";
}
.cbqicon-filter-1:before {
  content: "\e2e8";
}
.cbqicon-first-aid:before {
  content: "\e2e9";
}
.cbqicon-flag-1:before {
  content: "\e2ea";
}
.cbqicon-folder-1:before {
  content: "\e2eb";
}
.cbqicon-folder-add:before {
  content: "\e2ec";
}
.cbqicon-folder-lock:before {
  content: "\e2ed";
}
.cbqicon-foot:before {
  content: "\e2ee";
}
.cbqicon-foundation:before {
  content: "\e2ef";
}
.cbqicon-graph-bar:before {
  content: "\e2f0";
}
.cbqicon-graph-horizontal:before {
  content: "\e2f1";
}
.cbqicon-graph-pie:before {
  content: "\e2f2";
}
.cbqicon-graph-trend:before {
  content: "\e2f3";
}
.cbqicon-guide-dog:before {
  content: "\e2f4";
}
.cbqicon-hearing-aid:before {
  content: "\e2f5";
}
.cbqicon-heart-2:before {
  content: "\e2f6";
}
.cbqicon-home-2:before {
  content: "\e2f7";
}
.cbqicon-html5-1:before {
  content: "\e2f8";
}
.cbqicon-indent-less:before {
  content: "\e2f9";
}
.cbqicon-indent-more:before {
  content: "\e2fa";
}
.cbqicon-info-2:before {
  content: "\e2fb";
}
.cbqicon-italic-1:before {
  content: "\e2fc";
}
.cbqicon-key-2:before {
  content: "\e2fd";
}
.cbqicon-laptop-1:before {
  content: "\e2fe";
}
.cbqicon-layout:before {
  content: "\e2ff";
}
.cbqicon-lightbulb:before {
  content: "\e300";
}
.cbqicon-like:before {
  content: "\e301";
}
.cbqicon-link-2:before {
  content: "\e302";
}
.cbqicon-list-1:before {
  content: "\e303";
}
.cbqicon-list-bullet:before {
  content: "\e304";
}
.cbqicon-list-number:before {
  content: "\e305";
}
.cbqicon-list-thumbnails:before {
  content: "\e306";
}
.cbqicon-lock-2:before {
  content: "\e307";
}
.cbqicon-loop:before {
  content: "\e308";
}
.cbqicon-magnifying-glass:before {
  content: "\e309";
}
.cbqicon-mail-1:before {
  content: "\e30a";
}
.cbqicon-male-1:before {
  content: "\e30b";
}
.cbqicon-male-female:before {
  content: "\e30c";
}
.cbqicon-male-symbol:before {
  content: "\e30d";
}
.cbqicon-map-1:before {
  content: "\e30e";
}
.cbqicon-marker:before {
  content: "\e30f";
}
.cbqicon-megaphone-1:before {
  content: "\e310";
}
.cbqicon-microphone-1:before {
  content: "\e311";
}
.cbqicon-minus-1:before {
  content: "\e312";
}
.cbqicon-minus-circle-1:before {
  content: "\e313";
}
.cbqicon-mobile-1:before {
  content: "\e314";
}
.cbqicon-mobile-signal:before {
  content: "\e315";
}
.cbqicon-monitor:before {
  content: "\e316";
}
.cbqicon-mountains:before {
  content: "\e317";
}
.cbqicon-music-1:before {
  content: "\e318";
}
.cbqicon-next:before {
  content: "\e319";
}
.cbqicon-no-dogs:before {
  content: "\e31a";
}
.cbqicon-no-smoking:before {
  content: "\e31b";
}
.cbqicon-page:before {
  content: "\e31c";
}
.cbqicon-page-add:before {
  content: "\e31d";
}
.cbqicon-page-copy:before {
  content: "\e31e";
}
.cbqicon-page-csv:before {
  content: "\e31f";
}
.cbqicon-page-delete:before {
  content: "\e320";
}
.cbqicon-page-doc:before {
  content: "\e321";
}
.cbqicon-page-edit:before {
  content: "\e322";
}
.cbqicon-page-export:before {
  content: "\e323";
}
.cbqicon-page-export-csv:before {
  content: "\e324";
}
.cbqicon-page-export-doc:before {
  content: "\e325";
}
.cbqicon-page-export-pdf:before {
  content: "\e326";
}
.cbqicon-page-filled:before {
  content: "\e327";
}
.cbqicon-page-multiple:before {
  content: "\e328";
}
.cbqicon-page-pdf:before {
  content: "\e329";
}
.cbqicon-page-remove:before {
  content: "\e32a";
}
.cbqicon-page-search:before {
  content: "\e32b";
}
.cbqicon-paint-bucket:before {
  content: "\e32c";
}
.cbqicon-paperclip-1:before {
  content: "\e32d";
}
.cbqicon-pause-1:before {
  content: "\e32e";
}
.cbqicon-paw-1:before {
  content: "\e32f";
}
.cbqicon-paypal-1:before {
  content: "\e330";
}
.cbqicon-pencil-2:before {
  content: "\e331";
}
.cbqicon-photo:before {
  content: "\e332";
}
.cbqicon-play-1:before {
  content: "\e333";
}
.cbqicon-play-circle-1:before {
  content: "\e334";
}
.cbqicon-play-video:before {
  content: "\e335";
}
.cbqicon-plus-2:before {
  content: "\e336";
}
.cbqicon-pound:before {
  content: "\e337";
}
.cbqicon-power:before {
  content: "\e338";
}
.cbqicon-previous:before {
  content: "\e339";
}
.cbqicon-price-tag:before {
  content: "\e33a";
}
.cbqicon-pricetag-multiple:before {
  content: "\e33b";
}
.cbqicon-print-1:before {
  content: "\e33c";
}
.cbqicon-prohibited:before {
  content: "\e33d";
}
.cbqicon-projection-screen:before {
  content: "\e33e";
}
.cbqicon-puzzle-1:before {
  content: "\e33f";
}
.cbqicon-quote-1:before {
  content: "\e340";
}
.cbqicon-record:before {
  content: "\e341";
}
.cbqicon-refresh-1:before {
  content: "\e342";
}
.cbqicon-results:before {
  content: "\e343";
}
.cbqicon-results-demographics:before {
  content: "\e344";
}
.cbqicon-rewind:before {
  content: "\e345";
}
.cbqicon-rewind-ten:before {
  content: "\e346";
}
.cbqicon-rss-2:before {
  content: "\e347";
}
.cbqicon-safety-cone:before {
  content: "\e348";
}
.cbqicon-save:before {
  content: "\e349";
}
.cbqicon-share-1:before {
  content: "\e34a";
}
.cbqicon-sheriff-badge:before {
  content: "\e34b";
}
.cbqicon-shield-1:before {
  content: "\e34c";
}
.cbqicon-shopping-bag:before {
  content: "\e34d";
}
.cbqicon-shopping-cart-1:before {
  content: "\e34e";
}
.cbqicon-shuffle:before {
  content: "\e34f";
}
.cbqicon-skull:before {
  content: "\e350";
}
.cbqicon-social-500px:before {
  content: "\e351";
}
.cbqicon-social-adobe:before {
  content: "\e352";
}
.cbqicon-social-amazon:before {
  content: "\e353";
}
.cbqicon-social-android:before {
  content: "\e354";
}
.cbqicon-social-apple:before {
  content: "\e355";
}
.cbqicon-social-behance:before {
  content: "\e356";
}
.cbqicon-social-bing:before {
  content: "\e357";
}
.cbqicon-social-blogger:before {
  content: "\e358";
}
.cbqicon-social-delicious:before {
  content: "\e359";
}
.cbqicon-social-designer-news:before {
  content: "\e35a";
}
.cbqicon-social-deviant-art:before {
  content: "\e35b";
}
.cbqicon-social-digg:before {
  content: "\e35c";
}
.cbqicon-social-dribbble:before {
  content: "\e35d";
}
.cbqicon-social-drive:before {
  content: "\e35e";
}
.cbqicon-social-dropbox:before {
  content: "\e35f";
}
.cbqicon-social-evernote:before {
  content: "\e360";
}
.cbqicon-social-facebook:before {
  content: "\e361";
}
.cbqicon-social-flickr:before {
  content: "\e362";
}
.cbqicon-social-forrst:before {
  content: "\e363";
}
.cbqicon-social-foursquare:before {
  content: "\e364";
}
.cbqicon-social-game-center:before {
  content: "\e365";
}
.cbqicon-social-github:before {
  content: "\e366";
}
.cbqicon-social-google-plus:before {
  content: "\e367";
}
.cbqicon-social-hacker-news:before {
  content: "\e368";
}
.cbqicon-social-hi5:before {
  content: "\e369";
}
.cbqicon-social-instagram:before {
  content: "\e36a";
}
.cbqicon-social-joomla:before {
  content: "\e36b";
}
.cbqicon-social-lastfm:before {
  content: "\e36c";
}
.cbqicon-social-linkedin:before {
  content: "\e36d";
}
.cbqicon-social-medium:before {
  content: "\e36e";
}
.cbqicon-social-myspace:before {
  content: "\e36f";
}
.cbqicon-social-orkut:before {
  content: "\e370";
}
.cbqicon-social-path:before {
  content: "\e371";
}
.cbqicon-social-picasa:before {
  content: "\e372";
}
.cbqicon-social-pinterest:before {
  content: "\e373";
}
.cbqicon-social-rdio:before {
  content: "\e374";
}
.cbqicon-social-reddit:before {
  content: "\e375";
}
.cbqicon-social-skillshare:before {
  content: "\e376";
}
.cbqicon-social-skype:before {
  content: "\e377";
}
.cbqicon-social-smashing-mag:before {
  content: "\e378";
}
.cbqicon-social-snapchat:before {
  content: "\e379";
}
.cbqicon-social-spotify:before {
  content: "\e37a";
}
.cbqicon-social-squidoo:before {
  content: "\e37b";
}
.cbqicon-social-stack-overflow:before {
  content: "\e37c";
}
.cbqicon-social-steam:before {
  content: "\e37d";
}
.cbqicon-social-stumbleupon:before {
  content: "\e37e";
}
.cbqicon-social-treehouse:before {
  content: "\e37f";
}
.cbqicon-social-tumblr:before {
  content: "\e380";
}
.cbqicon-social-twitter:before {
  content: "\e381";
}
.cbqicon-social-vimeo:before {
  content: "\e382";
}
.cbqicon-social-windows:before {
  content: "\e383";
}
.cbqicon-social-xbox:before {
  content: "\e384";
}
.cbqicon-social-yahoo:before {
  content: "\e385";
}
.cbqicon-social-yelp:before {
  content: "\e386";
}
.cbqicon-social-youtube:before {
  content: "\e387";
}
.cbqicon-social-zerply:before {
  content: "\e388";
}
.cbqicon-social-zurb:before {
  content: "\e389";
}
.cbqicon-sound:before {
  content: "\e38a";
}
.cbqicon-star-2:before {
  content: "\e38b";
}
.cbqicon-stop-2:before {
  content: "\e38c";
}
.cbqicon-strikethrough-1:before {
  content: "\e38d";
}
.cbqicon-subscript-1:before {
  content: "\e38e";
}
.cbqicon-superscript-1:before {
  content: "\e38f";
}
.cbqicon-tablet-landscape:before {
  content: "\e390";
}
.cbqicon-tablet-portrait:before {
  content: "\e391";
}
.cbqicon-target:before {
  content: "\e392";
}
.cbqicon-target-two:before {
  content: "\e393";
}
.cbqicon-telephone:before {
  content: "\e394";
}
.cbqicon-telephone-accessible:before {
  content: "\e395";
}
.cbqicon-text-color:before {
  content: "\e396";
}
.cbqicon-thumbnails:before {
  content: "\e397";
}
.cbqicon-ticket-1:before {
  content: "\e398";
}
.cbqicon-torso:before {
  content: "\e399";
}
.cbqicon-torso-business:before {
  content: "\e39a";
}
.cbqicon-torso-female:before {
  content: "\e39b";
}
.cbqicon-torsos:before {
  content: "\e39c";
}
.cbqicon-torsos-all:before {
  content: "\e39d";
}
.cbqicon-torsos-all-female:before {
  content: "\e39e";
}
.cbqicon-torsos-female-male:before {
  content: "\e39f";
}
.cbqicon-torsos-male-female:before {
  content: "\e3a0";
}
.cbqicon-trash-1:before {
  content: "\e3a1";
}
.cbqicon-trees:before {
  content: "\e3a2";
}
.cbqicon-trophy-1:before {
  content: "\e3a3";
}
.cbqicon-underline-1:before {
  content: "\e3a4";
}
.cbqicon-universal-access:before {
  content: "\e3a5";
}
.cbqicon-unlink:before {
  content: "\e3a6";
}
.cbqicon-unlock-1:before {
  content: "\e3a7";
}
.cbqicon-upload-1:before {
  content: "\e3a8";
}
.cbqicon-upload-cloud:before {
  content: "\e3a9";
}
.cbqicon-usb:before {
  content: "\e3aa";
}
.cbqicon-video:before {
  content: "\e3ab";
}
.cbqicon-volume:before {
  content: "\e3ac";
}
.cbqicon-volume-none:before {
  content: "\e3ad";
}
.cbqicon-volume-strike:before {
  content: "\e3ae";
}
.cbqicon-web:before {
  content: "\e3af";
}
.cbqicon-wheelchair-1:before {
  content: "\e3b0";
}
.cbqicon-widget:before {
  content: "\e3b1";
}
.cbqicon-wrench-1:before {
  content: "\e3b2";
}
.cbqicon-x-1:before {
  content: "\e3b3";
}
.cbqicon-x-circle:before {
  content: "\e3b4";
}
.cbqicon-yen:before {
  content: "\e3b5";
}
.cbqicon-zoom-in:before {
  content: "\e3b6";
}
.cbqicon-zoom-out:before {
  content: "\e3b7";
}
